@charset "UTF-8";
:root {
  --system-white: #fff;
  --system-violet: #6725a8;
  --text-black: #000;
  --background-smoky: #f6f6fa;
  --system-smoky-dark: #f0ecf4;
  --system-gray: #a0a0a4;
  --dark-system-coral: #ff3b30;
  --system-green: #0cb477;
  --system-magenta: #cb11ab;
  --system-red: #f55123; }

/* Breakpoints ($breakpoint):
- tablet - 670px - 41.875em
- desktop-sm - 1024px - 64em
- desktop-md - 1440px - 87.5em
*/
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), local("SegoeUI"), url("../fonts/segoeui.woff2") format("woff2"), url("../fonts/segoeui.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/seguisb.woff2") format("woff2"), url("../fonts/seguisb.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"), url("../fonts/segoeuib.woff2") format("woff2"), url("../fonts/segoeuib.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  min-width: 32rem;
  background-color: var(--system-violet, #6725a8);
  color: var(--text-black, #000);
  font-family: Segoe UI;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  /* 150% */
  overflow: auto; }

body.modal-open {
  overflow: hidden; }

.headline-main {
  color: var(--system-white);
  font-family: "Segoe UI", sans-serif;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  font-variant: all-small-caps;
  letter-spacing: 0.052rem; }
  @media (min-width: 64em) {
    .headline-main {
      font-size: 2.8rem;
      line-height: 2.4rem;
      /* 85.714% */
      letter-spacing: 0.056rem; } }

.headline2 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  /* 140% */
  letter-spacing: -0.02rem; }
  @media (min-width: 64em) {
    .headline2 {
      font-size: 2.4rem;
      line-height: 3.2rem;
      /* 133.333% */
      letter-spacing: -0.024rem; } }
  .headline2--sbold-for-mobile {
    font-size: 2rem;
    font-weight: 600; }
  @media (min-width: 64em) {
    .headline2--lg-for-desktop {
      font-size: 2.8rem;
      line-height: 3.6rem;
      /* 128.571% */
      letter-spacing: -0.028rem; } }
  @media (min-width: 64em) {
    .headline2--sm-for-desktop {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: 700;
      letter-spacing: -0.02rem; } }

.headline3 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  /* 150% */ }
  .headline3--magenta {
    color: var(--system-magenta); }
  .headline3--white {
    color: var(--system-white); }
  @media (min-width: 64em) {
    .headline3--lg {
      font-size: 2rem; } }

.headline4 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  /* 150% */ }

.body-text {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  /* 150% */ }
  .body-text--gray {
    color: var(--system-gray); }
  @media (min-width: 64em) {
    .body-text--sm-for-desktop {
      font-size: 1.3rem;
      line-height: 1.6rem;
      /* 123.077% */ } }

.body-text2 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  --body-text2-lh: 2rem;
  /* 142.857% */
  line-height: var(--body-text2-lh); }
  @media (min-width: 64em) {
    .body-text2 {
      font-size: 1.6rem;
      font-style: normal;
      --body-text2-lh: 2.4rem;
      /* 150% */
      line-height: 2.4rem; } }

.body-text3 {
  color: var(--system-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  /* 120% */
  letter-spacing: -0.02rem; }

.caption {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  /* 123.077% */ }
  .caption--gray {
    color: var(--system-gray); }
  .caption--coral {
    color: var(--dark-system-coral); }
  .caption--green {
    color: var(--system-green); }
  .caption--white {
    color: var(--system-white); }
  .caption--magenta {
    color: var(--system-magenta); }

.caption2 {
  color: var(--system-white, #fff);
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;
  /* 180% */ }

.caption3 {
  color: var(--system-white);
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  /* 180% */ }

.caption4 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
  /* 116.667% */ }

.caption5 {
  color: var(--system-white);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  /* 133.333% */ }

.caption6 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
  /* 123.077% */ }

.header__inner {
  padding: 1.6rem 0 1.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem; }
  @media (min-width: 64em) {
    .header__inner {
      height: 8.8rem; } }

@media (min-width: 64em) {
  .header__title-link {
    margin-left: 1.6rem;
    width: 10.64rem; } }

.header__nav-links {
  display: none; }
  @media (min-width: 64em) {
    .header__nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4.35rem;
      margin-left: 3.25rem;
      margin-bottom: 0.21rem; } }

.header__profile-link, .header__cart-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  position: relative; }

.header__profile-link svg {
  margin-left: 0.3rem;
  position: relative; }

.header__cart-link svg {
  margin-right: 0.8rem;
  position: relative; }

.header__profile-badge, .header__cart-badge {
  top: -0.4rem; }
  .header__profile-badge.badge-count--1digit, .header__cart-badge.badge-count--1digit {
    right: 0.5rem; }
  .header__profile-badge.badge-count--2digit, .header__cart-badge.badge-count--2digit {
    right: 0.1rem; }
  .header__profile-badge.badge-count--3digit, .header__cart-badge.badge-count--3digit {
    right: -0.6rem; }

.header__title {
  margin-top: -0.87rem; }
  @media (min-width: 64em) {
    .header__title {
      margin-top: -0.4rem; } }

.header__search-form {
  display: none; }
  @media (min-width: 64em) {
    .header__search-form {
      margin-left: 3.15rem;
      max-width: 97rem;
      padding: 0 2rem;
      height: 4.8rem;
      border-radius: 3.6rem;
      background: rgba(255, 255, 255, 0.2);
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      gap: 0.8rem; } }

.header__search-input {
  flex: 1 0 auto;
  margin-bottom: 0.4rem;
  background-color: transparent;
  border: transparent;
  outline: none; }
  .header__search-input::placeholder {
    opacity: 0.5;
    color: var(--system-white);
    font-family: "Segoe UI";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 133.333% */ }
  .header__search-input:focus {
    opacity: 1; }

.header__menu, .header__search-btn {
  background-color: transparent;
  border: transparent; }

.header__menu {
  display: flex;
  justify-content: center; }
  @media (min-width: 64em) {
    .header__menu {
      align-items: center;
      width: 4.8rem;
      height: 4.8rem;
      padding: 1.2rem 0.95rem;
      border-radius: 0.8rem;
      border: 1px solid rgba(255, 255, 255, 0.45); } }
  .header__menu-icon-mob {
    display: block;
    width: 2.8rem;
    height: 2.8rem; }
    @media (min-width: 64em) {
      .header__menu-icon-mob {
        display: none; } }
  .header__menu-icon-desktop {
    display: none; }
    @media (min-width: 64em) {
      .header__menu-icon-desktop {
        display: block;
        width: 2.8rem;
        height: 2.4rem; } }

.header__search-btn svg.mob-only {
  display: block;
  width: 2.8rem;
  height: 2.8rem; }
  @media (min-width: 64em) {
    .header__search-btn svg.mob-only {
      display: none; } }

.header__search-btn svg.desktop-only {
  display: none; }
  @media (min-width: 64em) {
    .header__search-btn svg.desktop-only {
      display: block;
      width: 2.4rem;
      height: 2.4rem; } }

.custom-checkbox__input {
  display: none; }

.custom-checkbox__label {
  cursor: pointer; }

.custom-checkbox__checkbox {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><g clip-path="url(%23clip0_13_258)"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.4 1H9.6C7.90334 1 6.69099 1.00078 5.74064 1.07842C4.80197 1.15512 4.20731 1.30179 3.73005 1.54497C2.78924 2.02433 2.02433 2.78924 1.54497 3.73005C1.30179 4.20731 1.15512 4.80197 1.07842 5.74064C1.00078 6.69099 1 7.90334 1 9.6V12.4C1 14.0967 1.00078 15.309 1.07842 16.2594C1.15512 17.198 1.30179 17.7927 1.54497 18.27C2.02433 19.2108 2.78924 19.9757 3.73005 20.455C4.20731 20.6982 4.80197 20.8449 5.74064 20.9216C6.69099 20.9992 7.90334 21 9.6 21H12.4C14.0967 21 15.309 20.9992 16.2594 20.9216C17.198 20.8449 17.7927 20.6982 18.27 20.455C19.2108 19.9757 19.9757 19.2108 20.455 18.27C20.6982 17.7927 20.8449 17.198 20.9216 16.2594C20.9992 15.309 21 14.0967 21 12.4V9.6C21 7.90334 20.9992 6.69099 20.9216 5.74064C20.8449 4.80197 20.6982 4.20731 20.455 3.73005C19.9757 2.78924 19.2108 2.02433 18.27 1.54497C17.7927 1.30179 17.198 1.15512 16.2594 1.07842C15.309 1.00078 14.0967 1 12.4 1ZM0.653961 3.27606C0 4.55953 0 6.23969 0 9.6V12.4C0 15.7603 0 17.4405 0.653961 18.7239C1.2292 19.8529 2.14708 20.7708 3.27606 21.346C4.55953 22 6.23969 22 9.6 22H12.4C15.7603 22 17.4405 22 18.7239 21.346C19.8529 20.7708 20.7708 19.8529 21.346 18.7239C22 17.4405 22 15.7603 22 12.4V9.6C22 6.23969 22 4.55953 21.346 3.27606C20.7708 2.14708 19.8529 1.2292 18.7239 0.653961C17.4405 0 15.7603 0 12.4 0H9.6C6.23969 0 4.55953 0 3.27606 0.653961C2.14708 1.2292 1.2292 2.14708 0.653961 3.27606Z" fill="black" fill-opacity="0.2"/></g><defs><clipPath id="clip0_13_258"><rect width="22" height="22" fill="white"/></clipPath></defs></svg>');
  background-color: var(--system-white);
  border-radius: 0.6rem; }
  .custom-checkbox__checkbox--transparent {
    background-color: transparent; }
  .custom-checkbox__checkbox::before {
    content: "";
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><g clip-path="url(%23clip0_10_221)"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.653961 3.27606C0 4.55953 0 6.23969 0 9.6V12.4C0 15.7603 0 17.4405 0.653961 18.7239C1.2292 19.8529 2.14708 20.7708 3.27606 21.346C4.55953 22 6.23969 22 9.6 22H12.4C15.7603 22 17.4405 22 18.7239 21.346C19.8529 20.7708 20.7708 19.8529 21.346 18.7239C22 17.4405 22 15.7603 22 12.4V9.6C22 6.23969 22 4.55953 21.346 3.27606C20.7708 2.14708 19.8529 1.2292 18.7239 0.653961C17.4405 0 15.7603 0 12.4 0H9.6C6.23969 0 4.55953 0 3.27606 0.653961C2.14708 1.2292 1.2292 2.14708 0.653961 3.27606Z" fill="%23CB11AB"/><path fill-rule="evenodd" clip-rule="evenodd" d="M17.7354 6.67929L9.58662 15.4839L5.25781 10.6682L6.74523 9.33115L9.60819 12.5162L16.2676 5.3208L17.7354 6.67929Z" fill="white"/></g><defs><clipPath id="clip0_10_221"><rect width="22" height="22" fill="white"/></clipPath></defs></svg>');
    transition: opacity 0.3s; }

.custom-radio {
  position: relative; }
  .custom-radio__input {
    display: none; }
  .custom-radio__label {
    cursor: pointer; }
  .custom-radio__radio-btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><circle cx="10" cy="10" r="7.5" stroke="black" stroke-opacity="0.2"/></svg>');
    background-color: transparent;
    border-radius: 0.6rem; }
    .custom-radio__radio-btn::before {
      content: "";
      display: block;
      width: 2rem;
      height: 2rem;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><circle cx="10" cy="10" r="7.5" fill="%23CB11AB" stroke="%23CB11AB"/><path d="M10 13C11.6569 13 13 11.6569 13 10C13 8.34315 11.6569 7 10 7C8.34315 7 7 8.34315 7 10C7 11.6569 8.34315 13 10 13Z" fill="white"/></svg>');
      transition: opacity 0.3s; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.4rem;
  opacity: 70%; }

.page__footer {
  margin: 0 0 5.6rem 0; }
  @media (min-width: 64em) {
    .page__footer {
      margin: -0.03rem 0 0 0; } }

.navbar {
  background-color: var(--system-white);
  padding: 1.4rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5.6rem;
  box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2.5px);
  z-index: 3; }
  .navbar__wrap {
    display: flex;
    justify-content: space-between; }
  .navbar a {
    position: relative; }
  @media (min-width: 41.875em) {
    .navbar {
      padding: 1.4rem 10vw; } }
  @media (min-width: 64em) {
    .navbar {
      display: none; } }

.navbar__profile-badge,
.navbar__favourites-badge,
.navbar__cart-badge {
  top: -0.4rem; }
  .navbar__profile-badge.badge-count--1digit,
  .navbar__favourites-badge.badge-count--1digit,
  .navbar__cart-badge.badge-count--1digit {
    right: -0.6rem; }
  .navbar__profile-badge.badge-count--2digit,
  .navbar__favourites-badge.badge-count--2digit,
  .navbar__cart-badge.badge-count--2digit {
    right: -1rem; }
  .navbar__profile-badge.badge-count--3digit,
  .navbar__favourites-badge.badge-count--3digit,
  .navbar__cart-badge.badge-count--3digit {
    right: -1.7rem; }

.badge-count {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.2rem;
  z-index: 2;
  border-radius: 1.6rem;
  background: var(--system-red);
  width: 1.6rem;
  height: 1.6rem; }
  .badge-count--1digit {
    display: flex; }
  .badge-count--2digit {
    display: flex;
    padding: 0.2rem 0.4rem;
    width: 2rem; }
  .badge-count--3digit {
    display: flex;
    padding: 0.2rem 0.4rem;
    width: 2.63582rem; }

.modal-window {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--system-white);
  opacity: 1;
  z-index: 5;
  transition: opacity 0.5s ease-in-out; }
  @media (min-width: 41.875em) {
    .modal-window {
      padding: 1.6rem 2.2rem 2.4rem 2.2rem;
      min-height: 40.8rem;
      border-radius: 1.6rem;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2); } }
  .modal-window.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; }
  .modal-window__inner {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1; }
  .modal-window__title-wrap {
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 41.875em) {
      .modal-window__title-wrap {
        margin-top: 0.02rem; } }
  .modal-window__close-btn {
    margin: 0 -0.3rem 0 0;
    border: transparent;
    cursor: pointer;
    background: none; }
    @media (min-width: 41.875em) {
      .modal-window__close-btn {
        margin: 0.45rem -0.2rem 0 0; } }
    .modal-window__close-btn svg {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      pointer-events: none; }
  .modal-window__title {
    flex: 1 0 auto;
    margin-left: 0.2rem; }
    @media (min-width: 41.875em) {
      .modal-window__title {
        margin-left: 0.18rem; } }
  .modal-window__select-btn {
    margin: 0 auto;
    padding: 0.8rem 3.2rem 1.2rem 3.2rem;
    width: calc(100% - 0.4rem); }
    @media (min-width: 41.875em) {
      .modal-window__select-btn {
        margin-left: 0.2rem;
        --modal-select-btn: 16.4rem;
        width: var(--modal-select-btn); } }

.tooltip {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  padding: 1rem 1.6rem 1.3rem 1.6rem;
  background-color: var(--system-white);
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  position: absolute;
  z-index: 4;
  border-radius: 0.8rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; }
  .tooltip.active {
    opacity: 1;
    pointer-events: all;
    cursor: auto; }

.cart {
  border-radius: 2.4rem 2.4rem 2.4rem 2.4rem;
  background-color: var(--background-smoky); }
  .cart__wrap {
    padding: 1.5rem 0 4rem 0; }
    @media (min-width: 64em) {
      .cart__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3.2rem;
        padding: 1.5rem 0 5rem 0; } }
    .cart__wrap.active-tooltip {
      pointer-events: none; }
  .cart__inner {
    flex: 1 1 auto;
    width: 100%; }
  @media (min-width: 64em) {
    .cart__title {
      margin-top: 1.95rem; } }
  .cart__items-top {
    margin: 1.4rem 0 1.54rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 64em) {
      .cart__items-top {
        margin: 2.5rem 0 0 0;
        padding-bottom: 1.5rem;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1); } }
    .cart__items-top.show-summary {
      height: 4.26rem; }
  .cart__items-summary {
    display: none; }
  .show-summary .cart__items-summary {
    display: block;
    margin-top: -0.3rem; }
  .cart__selectAll-label {
    margin-bottom: 0.2rem;
    display: flex; }
  .cart__selectAll-checkbox {
    display: block;
    margin: 0.29rem 1.09rem 0 0; }
    @media (min-width: 64em) {
      .cart__selectAll-checkbox {
        margin: 0.25rem 1.1rem 0 0; } }
    .cart__selectAll-checkbox::before {
      opacity: 0; }
  .cart__selectAll-input:checked ~ .cart__selectAll-label .cart__selectAll-checkbox::before {
    opacity: 1; }
  .show-summary .cart__selectAll {
    display: none; }
  .cart__collapse-btn {
    display: block;
    margin: 0.2rem 0.4rem 0 0;
    border: transparent;
    background-color: transparent;
    width: 2rem;
    height: 2rem; }
    @media (min-width: 64em) {
      .cart__collapse-btn {
        margin: 0; } }
  .cart__items-wrap {
    margin-bottom: 4.59rem; }
    @media (min-width: 64em) {
      .cart__items-wrap {
        margin-bottom: 3.8rem; } }
  .cart__missing-wrap, .cart__items-wrap {
    transition: max-height 0.5s ease-out; }
  .cart .hide.cart__items-wrap {
    margin-bottom: 0; }
  .cart__cart-item {
    margin-bottom: 1.6rem; }
    @media (min-width: 64em) {
      .cart__cart-item {
        margin-bottom: 2rem; } }
    .cart__cart-item:last-child {
      margin-bottom: 0; }
  @media (min-width: 64em) {
    .cart__missing {
      margin: 1.4rem 0 0; } }
  .cart__missing-title-wrap {
    padding-bottom: 1.85rem;
    display: flex;
    justify-content: space-between;
    align-items: end; }
  .cart__missing-btn {
    margin-right: 0.4rem; }
    @media (min-width: 64em) {
      .cart__missing-btn {
        margin-right: 0.03rem; } }
  .cart__missing-wrap {
    margin-bottom: 3.13rem; }
    @media (min-width: 64em) {
      .cart__missing-wrap {
        margin-bottom: 4.09rem; } }
  .cart__missing-wrap.hide {
    margin-bottom: 2.45rem; }
  .cart__payment {
    margin-top: 1.2rem; }
    @media (min-width: 64em) {
      .cart__payment {
        margin-top: 1.6rem; } }
    .cart__payment-card {
      margin-top: 0.8rem; }
      @media (min-width: 64em) {
        .cart__payment-card {
          margin-top: 1.6rem; } }
  .cart__receiver {
    margin-top: 1.2rem; }
    @media (min-width: 64em) {
      .cart__receiver {
        margin-top: 1.6rem; } }
  .cart__result {
    margin-top: 2.39rem; }
    @media (min-width: 64em) {
      .cart__result {
        display: none; } }
    .cart__result--desktop {
      display: none; }
      @media (min-width: 64em) {
        .cart__result--desktop {
          display: block;
          margin: 0.7rem 0.1rem 0 0;
          padding: 1.6rem 2.4rem 2.4rem 2.4rem;
          position: sticky;
          top: 1.6rem;
          left: 0;
          flex: 0 0 auto;
          width: 30.3rem;
          border-radius: 1.6rem;
          background: var(--system-white);
          box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15); } }
      @media (min-width: 87.5em) {
        .cart__result--desktop {
          width: 42.9rem; } }

.collapse-btn {
  display: block;
  border: transparent;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: transform 0.5s; }
  .collapse-btn--closed {
    transform: rotate(-180deg) translateY(-0.2rem); }

.cart-item {
  padding-top: 1.2rem;
  display: grid;
  grid-auto-columns: 0;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  grid-template: "picture . price price" 2.4rem "picture . name name" min-content "picture . properties properties" min-content "picture . storage storage" min-content ". . . ." 1.2rem "management management management management" 3.2rem / 8rem 1.6rem auto 7.6rem;
  transition: opacity 0.5s ease-out; }
  @media (min-width: 41.875em) {
    .cart-item {
      padding-left: 10vw;
      padding-right: 10vw; } }
  @media (min-width: 64em) {
    .cart-item {
      grid-template: "picture . name . management . price" min-content "picture . properties . management . price" min-content "picture . storage . management . ." min-content "picture . seller . management . ." min-content / 10.6rem 1.6rem 27.5rem auto 10rem 1.6rem 11rem;
      padding: 1.15rem 0 0 0;
      border-top: none; } }
  .cart-item__pic {
    grid-area: picture;
    display: block;
    position: relative; }
    @media (min-width: 64em) {
      .cart-item__pic {
        padding-left: 3.4rem; } }
    .cart-item__pic img {
      display: block;
      width: 8rem;
      height: 10.6rem;
      border-radius: 0.8rem;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), url(<path-to-image>), lightgray 50%/cover no-repeat; }
      @media (min-width: 64em) {
        .cart-item__pic img {
          width: 7.2rem;
          height: 9.6rem; } }
    .cart-item__pic-property {
      display: flex;
      position: absolute;
      bottom: 0.4rem;
      left: 0.4rem;
      justify-content: center;
      align-items: center;
      width: 2.2rem;
      height: 2.2rem;
      padding: 0rem 0.4rem 0.3rem 0.4rem;
      border-radius: 0.6rem;
      background: var(--system-white);
      z-index: 3; }
      .cart-item__pic-property--three-digit {
        width: auto;
        max-width: 7.2rem; }
      @media (min-width: 64em) {
        .cart-item__pic-property {
          display: none; } }
  .cart-item__select {
    position: relative;
    z-index: 3; }
    .cart-item__select-label {
      position: absolute;
      width: 2.2rem;
      height: 2.2rem;
      top: 0.4rem;
      left: 0.4rem; }
      @media (min-width: 64em) {
        .cart-item__select-label {
          display: flex;
          justify-content: center;
          align-items: center;
          top: 3.75rem;
          left: -3.4rem; } }
    .cart-item__select-checkbox::before {
      opacity: 0; }
    .cart-item__select-input:checked ~ .cart-item__select-label .cart-item__select-checkbox::before {
      opacity: 1; }
  .cart-item__management {
    grid-area: management;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem; }
    @media (min-width: 64em) {
      .cart-item__management {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0rem;
        padding: 0; } }
  .cart-item__quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.67rem 0.33rem 0.77rem;
    width: 8rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    background: var(--system-white); }
    @media (min-width: 64em) {
      .cart-item__quantity {
        width: 10rem;
        height: 4.4rem;
        border-radius: 0.8rem;
        margin-bottom: 0.755rem;
        padding: 0 0.84rem 0.33rem 0.95rem; } }
    .cart-item__quantity button {
      background-color: transparent;
      border: transparent;
      cursor: pointer; }
    .cart-item__quantity input {
      display: block;
      width: 3.2rem;
      margin-top: 0.05rem;
      text-align: center;
      border: none;
      outline: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: textfield; }
      .cart-item__quantity input::-webkit-outer-spin-button, .cart-item__quantity input::-webkit-inner-spin-button {
        -webkit-appearance: none; }
      @media (min-width: 64em) {
        .cart-item__quantity input {
          margin-top: -0.13rem;
          width: 4.4rem;
          height: 2.3rem; } }
  .cart-item__plus-btn, .cart-item__minus-btn {
    height: 3.2rem; }
    @media (min-width: 64em) {
      .cart-item__plus-btn, .cart-item__minus-btn {
        height: 2.4rem;
        text-align: center; } }
  .minimal-number .cart-item__minus-btn,
  .maximum-number .cart-item__plus-btn {
    opacity: 0.2;
    cursor: default; }
  .cart-item__buttons {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
    width: 8.8rem; }
    @media (min-width: 64em) {
      .cart-item__buttons {
        place-self: end;
        align-self: flex-end;
        width: 5.6rem;
        gap: 1.6rem;
        margin-top: 0.88rem; } }
    .cart-item__buttons button {
      border: transparent;
      cursor: pointer;
      background: none; }
      @media (min-width: 64em) {
        .cart-item__buttons button {
          opacity: 0;
          transition: opacity 0.3s ease-in; } }
      .cart-item__buttons button svg {
        display: block;
        width: 2rem;
        height: 2rem;
        pointer-events: none; }
  @media (min-width: 64em) {
    .cart-item:hover .cart-item__buttons button {
      opacity: 1; } }
  .cart-item__buttons-favourite.selected {
    opacity: 1; }
    .cart-item__buttons-favourite.selected svg path {
      fill: var(--system-magenta); }
  @media (min-width: 64em) {
    .cart-item__buttons-favourite:hover svg path {
      fill: var(--system-magenta); } }
  @media (min-width: 64em) {
    .cart-item__buttons-delete:hover svg path {
      fill: var(--system-red); } }
  @media (min-width: 64em) {
    .cart-item__remains {
      align-self: flex-start; } }
  .cart-item__price {
    grid-area: price;
    display: flex;
    align-items: baseline;
    height: 2.4rem;
    position: relative;
    top: 0.03rem;
    left: 0.07rem; }
    @media (min-width: 64em) {
      .cart-item__price {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.6rem; } }
    .cart-item__price-discount-wrap {
      display: flex;
      align-items: baseline; }
      @media (min-width: 64em) {
        .cart-item__price-discount-wrap {
          margin: -0.12rem 0.12rem 0 0; } }
    .cart-item__price-full-wrap {
      display: block;
      margin-left: 0.5rem;
      position: relative;
      cursor: pointer; }
      @media (min-width: 64em) {
        .cart-item__price-full-wrap {
          margin: -0.25rem 0.15rem 0 0; } }
      .cart-item__price-full-wrap::after {
        content: "";
        display: block;
        position: relative;
        bottom: 0.65rem;
        background-repeat: repeat-x;
        height: 0.2rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='2' viewBox='0 0 57 2' fill='none'%3E%3Cpath d='M1 1H56' stroke='%23A0A0A4' stroke-linecap='square'/%3E%3C/svg%3E"); }
      .cart-item__price-full-wrap::before {
        content: "";
        display: block;
        position: relative;
        bottom: -1.9rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='2' viewBox='0 0 57 2' fill='none'%3E%3Cpath d='M1 1H56' stroke='black' stroke-opacity='0.2' stroke-linecap='square' stroke-dasharray='4 2'/%3E%3C/svg%3E");
        background-repeat: repeat-x;
        height: 0.2rem; }
    .cart-item__price-tooltip {
      top: 2.53rem;
      right: -1rem; }
      @media (min-width: 41.875em) {
        .cart-item__price-tooltip {
          right: 50%;
          transform: translateX(50%); } }
      @media (min-width: 64em) {
        .cart-item__price-tooltip {
          right: -1rem;
          transform: translateX(0%); } }
    .cart-item__price-itemDisc {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between; }
      .cart-item__price-itemDisc-info, .cart-item__price-itemDisc-amount {
        display: flex; }
    .cart-item__price-userDisc {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between; }
      .cart-item__price-userDisc-info, .cart-item__price-userDisc-amount {
        display: flex; }
    .cart-item__price-itemDisc, .cart-item__price-userDisc {
      text-wrap: nowrap; }
    .cart-item__price-itemDisc.hidden, .cart-item__price-userDisc.hidden {
      display: none; }
  .cart-item__name {
    grid-area: name;
    margin-top: 0.2rem;
    --max-name-lines: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-name-lines);
    max-height: calc(var(--max-name-lines) * var(--body-text2-lh));
    overflow: hidden; }
    @media (min-width: 64em) {
      .cart-item__name {
        --max-name-lines: 10;
        margin-top: 0;
        width: 25rem; } }
  .cart-item__properties {
    grid-area: properties;
    display: block;
    margin-top: -0.45rem; }
    @media (min-width: 64em) {
      .cart-item__properties {
        display: flex;
        align-items: center;
        gap: 1.71rem;
        margin-top: 0.23rem; } }
    .cart-item__properties-size {
      display: none; }
      @media (min-width: 64em) {
        .cart-item__properties-size {
          display: block; } }
  .cart-item__storage {
    grid-area: storage;
    margin-top: -0.5rem; }
    @media (min-width: 64em) {
      .cart-item__storage {
        margin-top: 0.59rem; } }
  .cart-item__seller {
    grid-area: seller;
    display: none; }
    @media (min-width: 64em) {
      .cart-item__seller {
        display: flex;
        margin-top: 0.2rem;
        height: 1.6rem;
        align-items: center;
        gap: 0.6rem;
        margin-top: 0.09rem; } }
    .cart-item__seller-btn-wrap {
      position: relative; }
    .cart-item__seller-tooltip-btn {
      background-color: transparent;
      border: transparent;
      cursor: pointer; }
      .cart-item__seller-tooltip-btn svg {
        display: block;
        width: 2rem;
        height: 2rem;
        pointer-events: none; }
    .cart-item__seller-tooltip {
      max-width: 28rem;
      width: max-content;
      min-height: 10.4rem;
      top: 2.53rem;
      left: 50%;
      transform: translateX(-50%); }
      .cart-item__seller-tooltip.long-address {
        max-width: 24rem; }

.multiline-name .cart-item__properties,
.multiline-name .cart-item__storage {
  margin-top: 0.8rem; }

.multiline-name .cart-item__seller {
  margin-top: 0.4rem; }

.multiline-name .cart-item__name {
  margin-top: 0.13rem; }
  @media (min-width: 64em) {
    .multiline-name .cart-item__name {
      margin-top: 0.03rem; } }

.empty-properties .cart-item__storage {
  margin-top: -2.19rem; }
  @media (min-width: 64em) {
    .empty-properties .cart-item__storage {
      margin-top: -0.01rem; } }

@media (min-width: 64em) {
  .empty-remains .cart-item__buttons {
    margin-top: 0.09rem; } }

.empty-pic-property .cart-item__pic-property {
  display: none; }

@media (min-width: 64em) {
  .cart-item--missing:first-child {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1); } }

.hide .cart-item--missing:first-child {
  border: transparent; }

.cart-item--missing .cart-item__name {
  margin-top: 0.01rem; }
  @media (min-width: 64em) {
    .cart-item--missing .cart-item__name {
      width: 29rem; } }

.cart-item--missing .cart-item__pic {
  padding: 0; }

.cart-item--missing .cart-item__properties {
  margin-top: 0.8rem; }

.cart-item--missing .cart-item__management {
  justify-content: flex-end; }
  @media (min-width: 64em) {
    .cart-item--missing .cart-item__management {
      justify-content: flex-start; } }

@media (min-width: 64em) {
  .cart-item--missing .cart-item__buttons {
    margin-top: 0; } }

.cart-item--missing .cart-item__pic,
.cart-item--missing .cart-item__name,
.cart-item--missing .cart-item__properties {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  color: var(--system-gray); }

.cart-item--missing .cart-item__select,
.cart-item--missing .cart-item__quantity,
.cart-item--missing .cart-item__remains {
  display: none; }

.cart-item--missing.cart-item {
  grid-template: "picture . name" min-content "picture . properties" min-content "picture . . " min-content ". . . " 1.2rem "management management management" 2.4rem / 8rem 1.6rem auto; }
  @media (min-width: 64em) {
    .cart-item--missing.cart-item {
      grid-template: "picture . name management ." min-content "picture . properties . ." min-content "picture . . . ." min-content / 7.2rem 1.6rem auto auto 12.6rem; } }

.cart-item--missing.cart-item.multiline-name {
  grid-template: "picture . name" min-content "picture . properties" min-content "picture . . " min-content ". . . " 1.19rem "management management management" 2.4rem / 8rem 1.6rem auto; }
  @media (min-width: 64em) {
    .cart-item--missing.cart-item.multiline-name {
      grid-template: "picture . name management ." min-content "picture . properties . ." min-content "picture . . . ." min-content / 7.2rem 1.6rem auto auto 12.6rem; } }

.brand-button {
  border-radius: 0.8rem;
  border: transparent;
  background: var(--system-magenta); }

.refuse-descr {
  position: relative;
  border-radius: 0.8rem;
  --after-opacity: 0; }
  .refuse-descr::before {
    content: "";
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 11.333C1 16.8559 5.47715 21.333 11 21.333C16.5228 21.333 21 16.8559 21 11.333C21 5.81016 16.5228 1.33301 11 1.33301C5.47715 1.33301 1 5.81016 1 11.333ZM19.1818 11.333C19.1818 15.8517 15.5187 19.5148 11 19.5148C6.48128 19.5148 2.81815 15.8517 2.81815 11.333C2.81815 6.81429 6.48128 3.15116 11 3.15116C15.5187 3.15116 19.1818 6.81429 19.1818 11.333Z" fill="url(%23paint0_linear_10_287)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.98273 9.98805C7.40206 9.62863 8.03336 9.67719 8.39278 10.0965L10.6286 12.705L14.6826 7.91387C15.0394 7.49226 15.6704 7.43968 16.092 7.79642C16.5136 8.15317 16.5662 8.78414 16.2094 9.20575L11.7761 14.4451C11.1795 15.1502 10.0933 15.1537 9.49219 14.4523L6.87427 11.3981C6.51485 10.9788 6.56341 10.3475 6.98273 9.98805Z" fill="url(%23paint1_linear_10_287)"/><defs><linearGradient id="paint0_linear_10_287" x1="4" y1="2.33319" x2="11" y2="21.333" gradientUnits="userSpaceOnUse"><stop stop-color="%230CD38B"/><stop offset="1" stop-color="%230CB477"/></linearGradient><linearGradient id="paint1_linear_10_287" x1="9" y1="7.83325" x2="10.5089" y2="16.1927" gradientUnits="userSpaceOnUse"><stop stop-color="%230CD38B"/><stop offset="1" stop-color="%230CB477"/></linearGradient></defs></svg>'); }
  .refuse-descr::after {
    content: "Если товары вам не подойдут, мы вернем их обратно на склад — это бесплатно";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1.6rem 1.4rem 1.6rem;
    width: 28.8rem;
    height: 5.6rem;
    position: absolute;
    bottom: -5.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-black);
    border-radius: 0.8rem;
    background: var(--system-white);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    opacity: var(--after-opacity);
    transition: opacity 0.5s ease;
    z-index: 4;
    pointer-events: all;
    cursor: auto; }
    @media (min-width: 41.875em) {
      .refuse-descr::after {
        display: none; } }
  .refuse-descr--smoky-dark-bg {
    background: var(--system-smoky-dark); }
  .refuse-descr--smoky-bg {
    background: var(--background-smoky); }
  .refuse-descr span {
    display: inline-block;
    position: relative;
    cursor: pointer; }
    .refuse-descr span::before {
      content: "";
      position: absolute;
      display: inline-block;
      left: -0.12rem;
      height: 1px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="2" viewBox="0 0 64 2" fill="none"><path d="M1 0.970703H63" stroke="%230CB477" stroke-opacity="0.2" stroke-linecap="square" stroke-dasharray="4 2"/></svg>');
      bottom: -0.3rem;
      background-repeat: repeat-x;
      height: 0.2rem;
      width: 6.4rem; }
    @media (min-width: 41.875em) {
      .refuse-descr span::after {
        content: "Если товары вам не подойдут, мы вернем их обратно на склад — это бесплатно";
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.9rem 1.6rem 1.4rem 1.6rem;
        width: 28.8rem;
        height: var(--after-minHeight);
        position: absolute;
        top: 2.25rem;
        left: 47%;
        transform: translateX(-50%);
        color: var(--text-black);
        border-radius: 0.8rem;
        background: var(--system-white);
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
        opacity: var(--after-opacity);
        transition: opacity 0.5s ease;
        z-index: 4;
        pointer-events: all;
        cursor: auto; } }

.delivery {
  padding: 1.72rem 0 1.55rem 0;
  border-radius: 1.6rem;
  background: var(--system-white); }
  @media (min-width: 41.875em) {
    .delivery {
      padding: 1.6rem 0 1.94rem 0; } }
  .delivery__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  @media (min-width: 41.875em) {
    .delivery__delivery-point-info {
      display: flex;
      flex-direction: column; } }
  .delivery__delivery-point {
    margin-top: 0.8rem; }
    @media (min-width: 41.875em) {
      .delivery__delivery-point {
        margin-top: 1.6rem; } }
  .delivery__schedule-wrap {
    margin-top: 0.33rem;
    position: relative; }
    @media (min-width: 64em) {
      .delivery__schedule-wrap {
        margin-top: 0.35rem; } }
    .delivery__schedule-wrap::before {
      content: "";
      display: inline-block;
      margin-right: 0.03rem;
      height: 1.2rem;
      width: 1.2rem;
      position: relative;
      top: 0.05rem;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.69769 1.48247C6.43817 0.861648 5.56198 0.861639 5.30244 1.48244L6.69769 1.48247ZM5.30244 1.48244L4.14719 4.24303L1.19202 4.49939C0.519264 4.55792 0.262282 5.39291 0.759713 5.82789L3.00514 7.7924L2.33207 10.7156C2.18436 11.3571 2.87792 11.89 3.46133 11.5356L6.00032 9.98936L8.53797 11.5348C9.12269 11.892 9.81568 11.3559 9.66861 10.7159L8.99549 7.79241L11.2402 5.82862C11.7385 5.39286 11.4793 4.55844 10.8083 4.49992L7.85294 4.24355L6.69769 1.48247" fill="%23FF970D"/></svg>'); }
    .delivery__schedule-wrap span {
      margin-right: 0.85rem; }
  .delivery__cost-wrap {
    margin-top: 1.63rem;
    padding-bottom: 0.42rem; }
    @media (min-width: 41.875em) {
      .delivery__cost-wrap {
        margin-top: 1.67rem;
        padding-bottom: 0; } }
  .delivery__date {
    margin-top: 1.2rem; }
    @media (min-width: 41.875em) {
      .delivery__date {
        margin-top: 1.6rem; } }
  .delivery__items-wrap {
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    gap: 0.8rem; }
    @media (min-width: 41.875em) {
      .delivery__items-wrap {
        padding: 0; } }
  .delivery__item {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; }
    .delivery__item img {
      display: block;
      width: 4.09255rem;
      height: 5.6rem;
      border-radius: 0.8rem;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), url(<path-to-image>), lightgray 50%/cover no-repeat; }
  .delivery__item-quantity {
    top: -0.9rem;
    right: -0.2rem; }
    .delivery__item-quantity.badge-count--1digit {
      display: flex; }
    .delivery__item-quantity.badge-count--2digit {
      display: flex;
      top: -0.54rem;
      right: -0.4rem;
      width: 2rem; }
    .delivery__item-quantity.badge-count--3digit {
      display: flex;
      width: 2.63582rem;
      top: -0.8rem;
      right: -0.35rem; }
  .delivery__refuse-descr {
    margin: 0.5rem 0 0 0;
    padding: 0.75rem 0.8rem 0.8rem 3.8rem; }
    @media (min-width: 64em) {
      .delivery__refuse-descr {
        margin: 1.75rem 0 0 0;
        padding: 0.75rem 0.8rem 0.8rem 2.98rem; } }
    .delivery__refuse-descr::before {
      left: 0.8rem;
      top: 47%;
      transform: translateY(-50%); }
      @media (min-width: 64em) {
        .delivery__refuse-descr::before {
          left: 0;
          top: 50%; } }
  @media (min-width: 41.875em) {
    .delivery__delivery-point, .delivery__cost-wrap, .delivery__date {
      display: flex;
      gap: 3.2rem; }
      .delivery__delivery-point > p, .delivery__cost-wrap > p, .delivery__date > p {
        width: 15.3rem; } }

.courier-selected .delivery__schedule-wrap {
  display: none; }

.change-delivery {
  padding: 1.6rem 1.4rem; }
  @media (min-width: 41.875em) {
    .change-delivery {
      padding: 1.6rem 2.2rem 2.4rem 2.2rem;
      width: 50rem;
      top: 22.7vh;
      left: 50%;
      transform: translateX(-39.9%); } }
  .change-delivery__tabs {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin: 1.55rem 0.6rem 0 0.6rem; }
    @media (min-width: 41.875em) {
      .change-delivery__tabs {
        margin: 1.3rem 0 0 0; } }
    .change-delivery__tabs button {
      background-color: transparent;
      flex: 1 0 50%;
      height: 4rem;
      padding-bottom: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 2.4rem;
      border: 2px solid rgba(203, 17, 171, 0.15);
      cursor: pointer; }
      @media (min-width: 41.875em) {
        .change-delivery__tabs button {
          flex: 0 0 auto;
          width: 22.4rem;
          height: 3.6rem; } }
  .change-delivery.pickpoint-tab .change-delivery__tab-pickpoint,
  .change-delivery.courier-tab .change-delivery__tab-courier {
    border: 2px solid var(--system-magenta); }
  .change-delivery__descr {
    margin: 2.5rem 0 0 0.03rem; }
    @media (min-width: 41.875em) {
      .change-delivery__descr {
        margin: 2.6rem 0 0 0.07rem; } }
  .change-delivery__pickpoint-wrap, .change-delivery__courier-wrap {
    display: none; }
  .change-delivery.pickpoint-tab .change-delivery__pickpoint-wrap,
  .change-delivery.courier-tab .change-delivery__courier-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  .change-delivery__option-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.8rem; }
    .change-delivery__option-wrap button {
      margin-top: 0.4rem;
      width: 2rem;
      height: 2rem;
      border: transparent;
      background-color: transparent; }
      @media (min-width: 41.875em) {
        .change-delivery__option-wrap button {
          margin-top: 0.3rem; } }
      @media (min-width: 64em) {
        .change-delivery__option-wrap button:hover svg path {
          fill: var(--system-red); } }
      .change-delivery__option-wrap button svg {
        display: block;
        pointer-events: none; }
  .change-delivery form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1; }
  .change-delivery fieldset {
    border: none;
    flex-grow: 1; }
  .change-delivery__options-list {
    margin: 1.25rem 0 2.4rem 0; }
  .change-delivery__option {
    list-style: none;
    padding-left: 2.83rem;
    transition: opacity 0.3s ease-out; }
    @media (min-width: 41.875em) {
      .change-delivery__option {
        padding-left: 2.8rem; } }
    .change-delivery__option:not(:last-child) {
      margin-bottom: 2.05rem; }
      @media (min-width: 41.875em) {
        .change-delivery__option:not(:last-child) {
          margin-bottom: 2rem; } }
    .change-delivery__option-label {
      display: flex;
      margin-left: -0.05rem; }
      @media (min-width: 41.875em) {
        .change-delivery__option-label {
          margin-left: 0; } }
    .change-delivery__option-radio {
      margin-top: 0.47rem; }
      .change-delivery__option-radio::before {
        opacity: 0; }
    .change-delivery__option-input:checked ~ .change-delivery__option-label .change-delivery__option-radio::before {
      opacity: 1; }
  .change-delivery__option-rating {
    position: relative;
    margin-top: 0.37rem;
    display: flex;
    align-items: center; }
    .change-delivery__option-rating-num {
      display: flex;
      gap: 0.4rem;
      align-items: center; }
      .change-delivery__option-rating-num::before {
        content: "";
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        position: relative;
        top: 0.05rem;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.69769 1.14922C6.43817 0.528396 5.56198 0.528387 5.30244 1.14919L6.69769 1.14922ZM5.30244 1.14919L4.14719 3.90977L1.19202 4.16613C0.519264 4.22467 0.262282 5.05966 0.759713 5.49464L3.00514 7.45915L2.33207 10.3824C2.18436 11.0238 2.87792 11.5567 3.46133 11.2023L6.00032 9.65611L8.53797 11.2015C9.12269 11.5588 9.81568 11.0227 9.66861 10.3826L8.99549 7.45915L11.2402 5.49537C11.7385 5.05961 11.4793 4.22519 10.8083 4.16667L7.85294 3.91029L6.69769 1.14922" fill="%23FF970D"/></svg>'); }
    .change-delivery__option-rating-label {
      margin-left: 0.8rem; }

.change-btn {
  border: transparent;
  background-color: transparent;
  cursor: pointer; }
  .change-btn svg {
    display: block;
    pointer-events: none;
    width: 2rem;
    height: 2rem; }

.payment {
  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
  border-radius: 1.6rem;
  background: var(--system-white);
  position: relative; }
  .payment__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    @media (min-width: 64em) {
      .payment__title-wrap {
        align-items: flex-end; } }
  @media (min-width: 64em) {
    .payment__change-btn {
      position: relative;
      top: -0.07rem;
      margin-right: -0.1rem; } }
  .payment__card {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .payment__card-syst {
      width: 3.2rem;
      height: 2.4rem;
      border-radius: 0.4rem;
      background-color: var(--background-smoky);
      display: flex;
      align-items: center;
      justify-content: center; }
      .payment__card-syst svg {
        display: block; }
    .payment__card-number {
      margin-left: 0.8rem; }
      @media (min-width: 64em) {
        .payment__card-number {
          margin-left: 0.85rem; } }
    .payment__card-date {
      margin-left: 1.3rem; }
      @media (min-width: 64em) {
        .payment__card-date {
          margin-left: 1.2rem; } }
  .payment__descr {
    margin-top: 0.8rem; }
    .payment__descr.hidden {
      display: none; }

.change-payment {
  padding: 1.6rem; }
  @media (min-width: 41.875em) {
    .change-payment {
      padding: 1.6rem 2.2rem 2.4rem 2.2rem;
      width: 40rem;
      top: 23.1vh;
      left: 50%;
      transform: translateX(-50%); } }
  .change-payment__title {
    margin-left: 0; }
    @media (min-width: 41.875em) {
      .change-payment__title {
        margin-left: 0.18rem; } }
  .change-payment__close-btn {
    margin: 0 -0.5rem 0 0; }
    @media (min-width: 41.875em) {
      .change-payment__close-btn {
        margin: 0.4rem -0.2rem 0; } }
  .change-payment form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1; }
  .change-payment fieldset {
    border: none;
    flex: 1 0 auto; }
  .change-payment__options-list {
    margin-top: 1.5rem; }
    @media (min-width: 41.875em) {
      .change-payment__options-list {
        margin-top: 1.25rem; } }
  .change-payment__option {
    list-style: none;
    display: flex;
    padding-left: 2rem; }
    .change-payment__option:not(:last-child) {
      margin-bottom: 1.6rem; }
    .change-payment__option-label {
      display: flex;
      align-items: center; }
    .change-payment__option-radio {
      top: 0.3rem; }
      @media (min-width: 41.875em) {
        .change-payment__option-radio {
          top: 0.35rem; } }
      .change-payment__option-radio::before {
        opacity: 0; }
    .change-payment__option-input:checked ~ .change-payment__option-label .change-payment__option-radio::before {
      opacity: 1; }
    .change-payment__option-pic {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.2rem;
      height: 2.4rem;
      margin: 0 0.4rem 0 0.8rem;
      border-radius: 0.4rem;
      background: var(--background-smoky, #f6f6fa); }
      .change-payment__option-pic svg {
        display: block; }
  .change-payment__select-btn {
    width: 100%; }
    @media (min-width: 41.875em) {
      .change-payment__select-btn {
        width: var(--modal-select-btn); } }

@media (min-width: 41.875em) {
  .overlay {
    background: rgba(5, 0, 10, 0.3);
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; }
    .overlay--transparent {
      opacity: 0; } }

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

.receiver {
  padding: 1.6rem 0 0.8rem 0;
  border-radius: 1.6rem;
  background-color: var(--system-white); }
  @media (min-width: 41.875em) {
    .receiver {
      padding: 1.6rem 0 1rem 0; } }
  @media (min-width: 87.5em) {
    .receiver {
      padding: 1.6rem 14.3rem 1rem 0; } }
  .receiver__pers-info {
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
    position: relative; }
    @media (min-width: 41.875em) {
      .receiver__pers-info {
        margin-top: 2.1rem; } }
  .receiver__other-info {
    display: flex;
    flex-direction: column; }
    @media (min-width: 41.875em) {
      .receiver__other-info {
        margin-top: -0.9rem; } }
  @media (min-width: 41.875em) {
    .receiver__pers-info, .receiver__other-info {
      flex-direction: row;
      gap: 2.4rem; } }
  .receiver__tax-number-descr {
    display: block;
    position: absolute;
    bottom: -0.2rem;
    left: -0.1rem;
    height: 1rem; }
    @media (min-width: 64em) {
      .receiver__tax-number-descr {
        bottom: -0.06rem;
        left: 0.02rem; } }
  .receiver__form-field {
    width: 100%;
    margin-bottom: 1.92rem;
    padding: 1.18rem 0rem 1.5rem 0rem;
    position: relative;
    border: none; }
    @media (min-width: 41.875em) {
      .receiver__form-field {
        padding: 1.18rem 0rem 1.6rem 0rem; } }
    .receiver__form-field input {
      border: none;
      outline: none;
      width: 100%;
      height: 2.4rem; }
    .receiver__form-field input::placeholder {
      opacity: 0; }
    .receiver__form-field label span {
      position: absolute;
      top: -0.25rem;
      left: -0.08rem;
      transform: translateY(1.55rem);
      transition: all 0.4s;
      z-index: 2; }
      @media (min-width: 41.875em) {
        .receiver__form-field label span {
          left: 0; } }
    .receiver__form-field label::after {
      content: "";
      display: block;
      position: relative;
      bottom: -0.3rem;
      left: 0;
      height: 0.2rem;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1); }
  .receiver input:focus + label > span,
  .receiver input:not(:placeholder-shown) + label > span {
    transform: translateY(0);
    font-size: 1.2rem;
    line-height: 1.4rem;
    /* 116.667% */ }

.result__title-wrap, .result__goods, .result__discount, .result__delivery, .result__delivery-point {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .result__title-wrap span, .result__goods span, .result__discount span, .result__delivery span, .result__delivery-point span {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
  @media (min-width: 41.875em) {
    .result__title-wrap, .result__goods, .result__discount, .result__delivery, .result__delivery-point {
      margin: 0 auto;
      width: 35rem; } }
  @media (min-width: 64em) {
    .result__title-wrap, .result__goods, .result__discount, .result__delivery, .result__delivery-point {
      width: auto; } }

.result__total-price.hidden {
  display: none; }

.result__goods, .result__discount {
  margin-right: 0.05rem; }
  @media (min-width: 41.875em) {
    .result__goods, .result__discount {
      margin: 0 auto; } }
  @media (min-width: 64em) {
    .result__goods, .result__discount {
      margin-right: 0.05rem; } }

@media (min-width: 64em) {
  .result .container {
    padding: 0; } }

.result__goods {
  margin-top: 0.6rem; }
  @media (min-width: 64em) {
    .result__goods {
      margin-top: 0.7rem; } }

.result__delivery-point {
  margin-top: 2.4rem; }

.result__date {
  display: inline-block;
  position: relative;
  top: -0.09rem;
  cursor: pointer; }
  .result__date::before {
    content: "";
    display: block;
    position: relative;
    bottom: -1.8rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="2" viewBox="0 0 49 2" fill="none"><path d="M1 1H48" stroke="%23CB11AB" stroke-opacity="0.2" stroke-linecap="square" stroke-dasharray="4 2"/></svg>');
    background-repeat: repeat-x;
    height: 0.2rem; }
  .result__date.hidden {
    display: none; }

.result__delivery-address {
  margin-top: 0.58rem; }

.result__refuse-descr {
  margin-top: 1.8rem;
  padding: 0.9rem 0.8rem 1.06rem 3.8rem; }
  @media (min-width: 64em) {
    .result__refuse-descr {
      margin-top: 0.9rem;
      padding: 0.9rem 0.8rem 1.1rem 3.8rem; } }
  .result__refuse-descr::before {
    left: 0.8rem;
    top: 46%;
    transform: translateY(-50%); }

.result__payment {
  margin-top: 0.7rem; }
  @media (min-width: 64em) {
    .result__payment {
      padding-bottom: 1.2rem;
      margin-top: 0.6rem; } }

@media (min-width: 64em) {
  .result__payment-title {
    position: relative;
    top: 0.26rem; } }

@media (min-width: 64em) {
  .result__payment-card-date {
    display: none; } }

.result__payment-card {
  margin-top: 0.8rem; }
  @media (min-width: 64em) {
    .result__payment-card {
      margin-top: 0.6rem; } }

.result__order-btn {
  margin-top: 2.42rem;
  padding: 0.75rem 3.2rem 1.25rem 3.2rem;
  width: 100%; }
  @media (min-width: 64em) {
    .result__order-btn {
      margin-top: 2.45rem; } }

.result__terms {
  margin-top: 1.19rem;
  padding: 0 0 0 2.1rem;
  position: relative; }
  .result__terms::before {
    content: "";
    display: block;
    position: absolute;
    left: -0.03rem;
    top: 0;
    width: 1.3rem;
    height: 2.4rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="25" viewBox="0 0 13 25" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.7657 5.0135L4.59586 13.8146L0.257324 9.00238L1.74276 7.66317L4.6174 10.8517L11.2999 3.65283L12.7657 5.0135Z" fill="black"/></svg>'); }

@media (min-width: 64em) {
  .result__payment-descr {
    display: none; } }

.result__pay-option {
  margin-top: 1.66rem; }
  @media (min-width: 64em) {
    .result__pay-option {
      margin-top: 0rem; } }

@media (min-width: 64em) {
  .cart__result--desktop .refuse-descr::after {
    display: flex;
    left: 50.2%;
    top: 4.75rem; } }

@media (min-width: 87.5em) {
  .cart__result--desktop .refuse-descr::after {
    display: none; } }

.cart__result--desktop .refuse-descr span::after {
  display: none; }
  @media (min-width: 87.5em) {
    .cart__result--desktop .refuse-descr span::after {
      display: flex; } }

.pay-option {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.8rem 1.2rem 0.8rem;
  border-radius: 0.8rem;
  background: var(--system-smoky-dark); }
  @media (min-width: 64em) {
    .pay-option {
      background: var(--background-smoky); } }
  .pay-option__instant-pay {
    display: flex; }
    .pay-option__instant-pay-label {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
    .pay-option__instant-pay-checkbox {
      display: block;
      margin: -0.03rem 0.8rem 0 0;
      flex: 0 0 auto; }
      @media (min-width: 64em) {
        .pay-option__instant-pay-checkbox {
          margin: 0 0.8rem 0 0; } }
      .pay-option__instant-pay-checkbox::before {
        opacity: 0; }
    .pay-option__instant-pay-input:checked ~ .pay-option__instant-pay-label .pay-option__instant-pay-checkbox::before {
      opacity: 1; }
  .pay-option__descr {
    margin-top: 0.8rem; }
    .pay-option__descr.hidden {
      display: none; }

@media (min-width: 64em) {
  .delivery,
  .receiver,
  .cart__payment {
    width: 63.8rem; } }

@media (min-width: 87.5em) {
  .delivery,
  .receiver,
  .cart__payment {
    width: 89.1rem; } }

.container {
  margin: 0 auto;
  max-width: 140rem;
  padding: 0 1.6rem; }
  @media (min-width: 41.875em) {
    .container {
      padding: 0 8vw; } }
  @media (min-width: 64em) {
    .container {
      padding: 0 2.4rem; } }
  .container--wide {
    padding: 0 1.3rem; }
    @media (min-width: 41.875em) {
      .container--wide {
        padding: 0 2.3rem 0 2.4rem; } }
  .container--desktop-only {
    padding: 0; }
    @media (min-width: 64em) {
      .container--desktop-only {
        padding: 0 2.4rem; } }
  .container--mob-only {
    padding: 0 1.6rem; }
    @media (min-width: 41.875em) {
      .container--mob-only {
        padding: 0 5vw; } }
    @media (min-width: 64em) {
      .container--mob-only {
        padding: 0; } }
