.cart {
  border-radius: 2.4rem 2.4rem 2.4rem 2.4rem;
  background-color: var(--background-smoky);

  &__wrap {
    padding: 1.5rem 0 4rem 0;

    @include responsive(desktop-sm) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 3.2rem;
      padding: 1.5rem 0 5rem 0;
    }

    //пропускает клик закрытия тултипа, позволяя обработчику получить его на body
    &.active-tooltip {
      pointer-events: none;
    }
  }

  &__inner {
    flex: 1 1 auto;
    width: 100%;
  }

  &__title {
    @include responsive(desktop-sm) {
      margin-top: 1.95rem;
    }
  }

  &__items-top {
    margin: 1.4rem 0 1.54rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(desktop-sm) {
      margin: 2.5rem 0 0 0;
      padding-bottom: 1.5rem;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    &.show-summary {
      height: 4.26rem;
    }
  }

  &__items-summary {
    display: none;
  }

  .show-summary &__items-summary {
    display: block;
    margin-top: -0.3rem;
  }

  &__selectAll {
    &-label {
      margin-bottom: 0.2rem;
      display: flex;
    }

    &-checkbox {
      display: block;
      margin: 0.29rem 1.09rem 0 0;

      @include responsive(desktop-sm) {
        margin: 0.25rem 1.1rem 0 0;
      }

      &::before {
        opacity: 0;
      }
    }

    &-input:checked ~ &-label &-checkbox::before {
      opacity: 1;
    }
  }

  .show-summary &__selectAll {
    display: none;
  }

  &__collapse-btn {
    margin: 0.2rem 0.4rem 0 0;

    @include responsive(desktop-sm) {
      margin: 0;
    }
  }

  &__items-wrap {
    margin-bottom: 4.61rem;
    transition: max-height 0.5s ease-out;
    overflow: hidden;

    @include responsive(desktop-sm) {
      margin-bottom: 3.8rem;
    }
  }

  //При сворачивании блока по collapse-btn
  .hide.cart__items-wrap {
    margin-bottom: 0;
  }

  &__cart-item {
    margin-bottom: 1.6rem;

    @include responsive(desktop-sm) {
      margin-bottom: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__missing {
    @include responsive(desktop-sm) {
      margin: 1.4rem 0 0;
    }

    &-title-wrap {
      padding-bottom: 1.85rem;
      display: flex;
      justify-content: space-between;
      align-items: end;
    }

    &-btn {
      margin-right: 0.4rem;

      @include responsive(desktop-sm) {
        margin-right: 0.03rem;
      }
    }
  }

  &__missing-collapse-wrap {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s ease-out;
  }

  &__missing-wrap {
    margin-bottom: 3.13rem;
    overflow: hidden;

    @include responsive(desktop-sm) {
      margin-bottom: 4.09rem;
    }
  }

  //при сворачивании блока по collapse-btn
  &__missing-collapse-wrap.hide {
    grid-template-rows: 0fr;
  }

  .hide &__missing-wrap {
    margin-bottom: 2.45rem;
  }

  &__payment {
    margin-top: 1.2rem;

    @include responsive(desktop-sm) {
      margin-top: 1.6rem;
    }

    &-card {
      margin-top: 0.8rem;

      @include responsive(desktop-sm) {
        margin-top: 1.6rem;
      }
    }
  }

  &__receiver {
    margin-top: 1.2rem;

    @include responsive(desktop-sm) {
      margin-top: 1.6rem;
    }
  }

  &__result {
    margin-top: 2.5rem;

    &--desktop {
      @include responsive(desktop-sm) {
        margin: 0.7rem 0.1rem 0 0;

        position: sticky;
        top: 1.6rem;
        left: 0;
      }
    }
  }
}

.delivery {
  padding: 1.69rem 0 1.55rem 0;
  border-radius: 1.6rem;
  background: var(--system-white);

  @include responsive(tablet) {
    padding: 1.6rem 0 1.94rem 0;
  }

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__delivery-point-info {
    @include responsive(tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &__delivery-point {
    margin-top: 0.8rem;

    @include responsive(tablet) {
      margin-top: 1.6rem;
    }
  }

  &__schedule-wrap {
    margin-top: 0.33rem;
    position: relative;

    @include responsive(desktop-sm) {
      margin-top: 0.35rem;
    }

    &::before {
      content: "";
      display: inline-block;
      margin-right: 0.03rem;
      height: 1.2rem;
      width: 1.2rem;
      position: relative;
      top: 0.05rem;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.69769 1.48247C6.43817 0.861648 5.56198 0.861639 5.30244 1.48244L6.69769 1.48247ZM5.30244 1.48244L4.14719 4.24303L1.19202 4.49939C0.519264 4.55792 0.262282 5.39291 0.759713 5.82789L3.00514 7.7924L2.33207 10.7156C2.18436 11.3571 2.87792 11.89 3.46133 11.5356L6.00032 9.98936L8.53797 11.5348C9.12269 11.892 9.81568 11.3559 9.66861 10.7159L8.99549 7.79241L11.2402 5.82862C11.7385 5.39286 11.4793 4.55844 10.8083 4.49992L7.85294 4.24355L6.69769 1.48247" fill="%23FF970D"/></svg>');
    }

    span {
      margin-right: 0.85rem;
    }
  }

  &__cost-wrap {
    margin-top: 1.63rem;
    padding-bottom: 0.42rem;

    @include responsive(tablet) {
      margin-top: 1.67rem;
      padding-bottom: 0;
    }
  }

  &__date {
    margin-top: 1.2rem;

    @include responsive(tablet) {
      margin-top: 1.6rem;
    }
  }

  &__items-wrap {
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    @include responsive(tablet) {
      padding: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    img {
      display: block;
      width: 4.09255rem;
      height: 5.6rem;
      border-radius: 0.8rem;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.05) 0%,
          rgba(0, 0, 0, 0.05) 100%
        ),
        url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
  }

  &__item-quantity {
    top: -0.9rem;
    right: -0.2rem;

    &.badge-count--1digit {
      display: flex;
    }

    &.badge-count--2digit {
      display: flex;
      top: -0.54rem;
      right: -0.4rem;
      width: 2rem;
    }

    &.badge-count--3digit {
      display: flex;
      width: 2.63582rem;
      top: -0.8rem;
      right: -0.35rem;
    }
  }

  .refuse-descr {
    margin: 0.5rem 0 0 0;
    padding: 0.75rem 0.8rem 0.8rem 3.8rem;

    @include responsive(desktop-sm) {
      margin: 1.88rem 0 0 0;
      padding: 0.75rem 0.8rem 0.8rem 2.98rem;
    }

    &::before {
      left: 0.8rem;
      top: 47%;
      transform: translateY(-50%);

      @include responsive(desktop-sm) {
        left: 0;
        top: 50%;
      }
    }
  }

  &__delivery-point,
  &__cost-wrap,
  &__date {
    @include responsive(tablet) {
      display: flex;
      gap: 3.2rem;
      > p {
        width: 15.3rem;
      }
    }
  }
}

//выбор доставки курьером скрывает информацию о пункте выдачи
.courier-selected .delivery__schedule-wrap {
  display: none;
}

.change-delivery {
  padding: 1.6rem 1.4rem;

  @include responsive(tablet) {
    padding: 1.6rem 2.2rem 2.4rem 2.2rem;
    width: 50rem;
    top: 22.7vh;
    left: 50%;
    transform: translateX(-39.9%);
  }

  &__tabs {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin: 1.55rem 0.6rem 0 0.6rem;

    @include responsive(tablet) {
      margin: 1.3rem 0 0 0;
    }

    button {
      background-color: transparent;
      flex: 1 0 50%;
      height: 4rem;
      padding-bottom: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 2.4rem;
      border: 2px solid rgba(203, 17, 171, 0.15);
      cursor: pointer;

      @include responsive(tablet) {
        flex: 0 0 auto;
        width: 22.4rem;
        height: 3.6rem;
      }
    }
  }

  &.pickpoint-tab &__tab-pickpoint,
  &.courier-tab &__tab-courier {
    border: 2px solid var(--system-magenta);
  }

  &__descr {
    margin: 2.5rem 0 0 0.03rem;

    @include responsive(tablet) {
      margin: 2.6rem 0 0 0.07rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__option-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.8rem;

    button {
      margin-top: 0.4rem;
      width: 2rem;
      height: 2rem;
      border: transparent;
      background-color: transparent;

      @include responsive(tablet) {
        margin-top: 0.3rem;
      }

      &:hover svg path {
        @include responsive(desktop-sm) {
          fill: var(--system-red);
        }
      }

      svg {
        display: block;
        pointer-events: none;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
  }

  fieldset {
    border: none;
    flex-grow: 1;
  }

  &__options-list {
    margin: 1.25rem 0 2.4rem 0;
  }

  &__option {
    list-style: none;
    padding-left: 2.83rem;
    transition: opacity 0.3s ease-out;

    @include responsive(tablet) {
      padding-left: 2.8rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.05rem;

      @include responsive(tablet) {
        margin-bottom: 2rem;
      }
    }

    &-label {
      display: flex;
      margin-left: -0.05rem;

      @include responsive(tablet) {
        margin-left: 0;
      }
    }

    &-radio {
      margin-top: 0.47rem;

      &::before {
        opacity: 0;
      }
    }

    &-input:checked ~ &-label &-radio::before {
      opacity: 1;
    }
  }

  &__option-rating {
    position: relative;
    margin-top: 0.37rem;
    display: flex;
    align-items: center;

    &-num {
      display: flex;
      gap: 0.4rem;
      align-items: center;

      &::before {
        content: "";
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        position: relative;
        top: 0.05rem;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.69769 1.14922C6.43817 0.528396 5.56198 0.528387 5.30244 1.14919L6.69769 1.14922ZM5.30244 1.14919L4.14719 3.90977L1.19202 4.16613C0.519264 4.22467 0.262282 5.05966 0.759713 5.49464L3.00514 7.45915L2.33207 10.3824C2.18436 11.0238 2.87792 11.5567 3.46133 11.2023L6.00032 9.65611L8.53797 11.2015C9.12269 11.5588 9.81568 11.0227 9.66861 10.3826L8.99549 7.45915L11.2402 5.49537C11.7385 5.05961 11.4793 4.22519 10.8083 4.16667L7.85294 3.91029L6.69769 1.14922" fill="%23FF970D"/></svg>');
      }
    }

    &-label {
      margin-left: 0.8rem;
    }
  }
}

.payment {
  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
  border-radius: 1.6rem;
  background: var(--system-white);
  position: relative;

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include responsive(desktop-sm) {
      align-items: flex-end;
    }
  }

  &__change-btn {
    @include responsive(desktop-sm) {
      position: relative;
      top: -0.07rem;
      margin-right: -0.1rem;
    }
  }

  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-syst {
      width: 3.2rem;
      height: 2.4rem;
      border-radius: 0.4rem;
      background-color: var(--background-smoky);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        display: block;
      }
    }

    &-number {
      margin-left: 0.8rem;

      @include responsive(desktop-sm) {
        margin-left: 0.85rem;
      }
    }

    &-date {
      margin-left: 1.3rem;

      @include responsive(desktop-sm) {
        margin-left: 1.2rem;
      }
    }
  }

  &__descr {
    margin-top: 0.8rem;

    &.hidden {
      display: none;
    }
  }
}

.change-payment {
  padding: 1.6rem;

  @include responsive(tablet) {
    padding: 1.6rem 2.2rem 2.4rem 2.2rem;
    width: 40rem;
    top: 23.1vh;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    margin-left: 0;

    @include responsive(tablet) {
      margin-left: 0.18rem;
    }
  }

  &__close-btn {
    margin: 0 -0.5rem 0 0;

    @include responsive(tablet) {
      margin: 0.4rem -0.2rem 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
  }

  fieldset {
    border: none;
    flex: 1 0 auto;
  }

  &__options-list {
    margin-top: 1.5rem;

    @include responsive(tablet) {
      margin-top: 1.25rem;
    }
  }

  &__option {
    list-style: none;
    display: flex;
    padding-left: 2rem;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    &-label {
      display: flex;
      align-items: center;
    }

    &-radio {
      top: 0.3rem;

      @include responsive(tablet) {
        top: 0.35rem;
      }

      &::before {
        opacity: 0;
      }
    }

    &-input:checked ~ &-label &-radio::before {
      opacity: 1;
    }

    &-pic {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.2rem;
      height: 2.4rem;
      margin: 0 0.4rem 0 0.8rem;
      border-radius: 0.4rem;
      background: var(--background-smoky, #f6f6fa);

      svg {
        display: block;
      }
    }
  }

  &__select-btn {
    width: 100%;

    @include responsive(tablet) {
      width: var(--modal-select-btn);
    }
  }
}

.receiver {
  padding: 1.6rem 0 0.8rem 0;
  border-radius: 1.6rem;
  background-color: var(--system-white);

  @include responsive(tablet) {
    padding: 1.6rem 0 1.3rem 0;
  }

  @include responsive(desktop-md) {
    padding: 1.6rem 14.3rem 1rem 0;
  }

  &__pers-info {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
    position: relative;

    @include responsive(tablet) {
      margin-top: 1.8rem;
    }
  }

  &__other-info {
    display: flex;
    flex-direction: column;

    @include responsive(tablet) {
      margin-top: -0.9rem;
    }
  }

  &__pers-info,
  &__other-info {
    @include responsive(tablet) {
      flex-direction: row;
      gap: 2.4rem;
      align-items: flex-start;
    }
  }

  &__tax-number-descr {
    display: block;
    position: absolute;
    bottom: -0.2rem;
    left: -0.1rem;
    height: 1rem;

    @include responsive(desktop-sm) {
      bottom: -0.36rem;
      left: 0.02rem;
    }

    &.hidden {
      display: none;
    }
  }

  &__form-field {
    width: 100%;
    margin-bottom: 1.92rem;
    padding: 1.18rem 0rem 1.5rem 0rem;
    position: relative;
    border: none;

    @include responsive(tablet) {
      padding: 1.18rem 0rem 1.6rem 0rem;
    }

    input {
      border: none;
      outline: none;
      width: 100%;
      height: 2.4rem;
      position: relative;
      top: 0.25rem;
      left: -0.1rem;

      @include responsive(tablet) {
        top: 0.4rem;
        left: 0;
      }
    }

    input::placeholder {
      opacity: 0;
    }

    label {
      span {
        position: absolute;
        top: -0.25rem;
        left: -0.1rem;
        transform: translateY(1.67rem);
        transition: all 0.4s;
        z-index: 2;

        @include responsive(tablet) {
          left: 0;
          transform: translateY(1.85rem);
        }
      }

      &::after {
        content: "";
        display: block;
        position: relative;
        bottom: -0.4rem;
        left: 0;
        height: 0.2rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);

        @include responsive(tablet) {
          bottom: -0.6rem;
        }
      }
    }

    input.is-invalid {
      color: var(--system-red);
    }

    input.is-invalid + label::after {
      background-color: var(--system-red);
    }

    [data-js-enabled="false"] input:invalid {
      color: var(--system-red);
    }

    [data-js-enabled="false"] input:invalid + label::after {
      background-color: var(--system-red);
    }
  }

  &__form-error {
    margin-top: 0.95rem;
    margin: 0.95rem 0 -0.75rem 0;
  }

  input:focus + label > span,
  input:not(:placeholder-shown) + label > span {
    transform: translateY(0);
    font-size: 1.2rem;
    line-height: 1.4rem; /* 116.667% */

    @include responsive(tablet) {
      font-size: 1.3rem;
      line-height: 1.6rem; /* 123.077% */
    }
  }
}

.cart__result--desktop .refuse-descr::after {
  @include responsive(desktop-sm) {
    display: flex;
    left: 50.2%;
    top: 4.75rem;
  }

  @include responsive(desktop-md) {
    display: none;
  }
}

.cart__result--desktop .refuse-descr span::after {
  display: none;

  @include responsive(desktop-md) {
    display: flex;
  }
}

.pay-option {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.8rem 1.2rem 0.8rem;
  border-radius: 0.8rem;
  background: var(--system-smoky-dark);

  @include responsive(desktop-sm) {
    background: var(--background-smoky);
  }

  &__instant-pay {
    display: flex;

    &-label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-checkbox {
      display: block;
      margin: -0.03rem 0.8rem 0 0;
      flex: 0 0 auto;

      @include responsive(desktop-sm) {
        margin: 0 0.8rem 0 0;
      }

      &::before {
        opacity: 0;
      }
    }
    &-input:checked ~ &-label &-checkbox::before {
      opacity: 1;
    }
  }

  &__descr {
    margin-top: 0.8rem;

    &.hidden {
      display: none;
    }
  }
}

.delivery,
.receiver,
.cart__payment {
  @include responsive(desktop-sm) {
    width: 63.8rem;
  }

  @include responsive(desktop-md) {
    width: 89.1rem;
  }
}
