.custom-radio {
  position: relative;

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
  }

  &__radio-btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><circle cx="10" cy="10" r="7.5" stroke="black" stroke-opacity="0.2"/></svg>');
    background-color: transparent;
    border-radius: 0.6rem;

    &::before {
      content: "";
      display: block;
      width: 2rem;
      height: 2rem;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><circle cx="10" cy="10" r="7.5" fill="%23CB11AB" stroke="%23CB11AB"/><path d="M10 13C11.6569 13 13 11.6569 13 10C13 8.34315 11.6569 7 10 7C8.34315 7 7 8.34315 7 10C7 11.6569 8.34315 13 10 13Z" fill="white"/></svg>');
      transition: opacity 0.3s;
    }
  }
}
