.modal-window {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--system-white);
  opacity: 1;
  z-index: 5;
  transition: opacity 0.5s ease-in-out;

  @include responsive(tablet) {
    padding: 1.6rem 2.2rem 2.4rem 2.2rem;
    min-height: 40.8rem;
    border-radius: 1.6rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
  }

  &__title-wrap {
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(tablet) {
      margin-top: 0.02rem;
    }
  }

  &__close-btn {
    margin: 0 -0.3rem 0 0;
    border: transparent;
    cursor: pointer;
    background: none;

    @include responsive(tablet) {
      margin: 0.45rem -0.2rem 0 0;
    }

    svg {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      pointer-events: none;
    }
  }

  &__title {
    flex: 1 0 auto;
    margin-left: 0.2rem;

    @include responsive(tablet) {
      margin-left: 0.18rem;
    }
  }

  &__select-btn {
    margin: 0 auto;
    padding: 0.8rem 3.2rem 1.2rem 3.2rem;
    width: calc(100% - 0.4rem);

    @include responsive(tablet) {
      margin-left: 0.2rem;
      --modal-select-btn: 16.4rem;
      width: var(--modal-select-btn);
    }
  }
}

.overlay {
  @include responsive(tablet) {
    background: rgba(5, 0, 10, 0.3);
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    &--transparent {
      opacity: 0;
    }
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
