.cart {
  border-radius: 2.4rem 2.4rem 2.4rem 2.4rem;
  background-color: var(--background-smoky);

  &__wrap {
    padding: 1.5rem 0 4rem 0;

    @include responsive(desktop-sm) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 3.2rem;
      padding: 1.5rem 0 5rem 0;
    }

    //пропускает клик закрытия тултипа, позволяя обработчику получить его на body
    &.active-tooltip {
      pointer-events: none;
    }
  }

  &__inner {
    flex: 1 1 auto;
    width: 100%;
  }

  &__title {
    @include responsive(desktop-sm) {
      margin-top: 1.95rem;
    }
  }

  &__items-top {
    margin: 1.4rem 0 1.54rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(desktop-sm) {
      margin: 2.5rem 0 0 0;
      padding-bottom: 1.5rem;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    &.show-summary {
      height: 4.26rem;
    }
  }

  &__items-summary {
    display: none;
  }

  .show-summary &__items-summary {
    display: block;
    margin-top: -0.3rem;
  }

  &__selectAll {
    &-label {
      margin-bottom: 0.2rem;
      display: flex;
    }

    &-checkbox {
      display: block;
      margin: 0.29rem 1.09rem 0 0;

      @include responsive(desktop-sm) {
        margin: 0.25rem 1.1rem 0 0;
      }

      &::before {
        opacity: 0;
      }
    }

    &-input:checked ~ &-label &-checkbox::before {
      opacity: 1;
    }
  }

  .show-summary &__selectAll {
    display: none;
  }

  &__collapse-btn {
    display: block;
    margin: 0.2rem 0.4rem 0 0;
    border: transparent;
    background-color: transparent;
    width: 2rem;
    height: 2rem;

    @include responsive(desktop-sm) {
      margin: 0;
    }
  }

  &__items-wrap {
    margin-bottom: 4.61rem;

    @include responsive(desktop-sm) {
      margin-bottom: 3.8rem;
    }
  }

  &__missing-wrap,
  &__items-wrap {
    transition: max-height 0.5s ease-out;
  }

  //При сворачивании блока по collapse-btn
  .hide.cart__items-wrap {
    margin-bottom: 0;
  }

  &__cart-item {
    margin-bottom: 1.6rem;

    @include responsive(desktop-sm) {
      margin-bottom: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__missing {
    @include responsive(desktop-sm) {
      margin: 1.4rem 0 0;
    }

    &-title-wrap {
      padding-bottom: 1.85rem;
      display: flex;
      justify-content: space-between;
      align-items: end;
    }

    &-btn {
      margin-right: 0.4rem;

      @include responsive(desktop-sm) {
        margin-right: 0.03rem;
      }
    }
  }

  &__missing-wrap {
    margin-bottom: 3.13rem;

    @include responsive(desktop-sm) {
      margin-bottom: 4.09rem;
    }
  }

  //при сворачивании блока по collapse-btn
  &__missing-wrap.hide {
    margin-bottom: 2.45rem;
  }

  &__payment {
    margin-top: 1.2rem;

    @include responsive(desktop-sm) {
      margin-top: 1.6rem;
    }

    &-card {
      margin-top: 0.8rem;

      @include responsive(desktop-sm) {
        margin-top: 1.6rem;
      }
    }
  }

  &__receiver {
    margin-top: 1.2rem;

    @include responsive(desktop-sm) {
      margin-top: 1.6rem;
    }
  }

  &__result {
    margin-top: 2.5rem;

    @include responsive(desktop-sm) {
      display: none;
    }

    &--desktop {
      display: none;

      @include responsive(desktop-sm) {
        display: block;
        margin: 0.7rem 0.1rem 0 0;
        padding: 1.6rem 2.4rem 2.4rem 2.4rem;
        position: sticky;
        top: 1.6rem;
        left: 0;
        flex: 0 0 auto;
        width: 30.3rem;
        border-radius: 1.6rem;
        background: var(--system-white);
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
          0px 2px 10px 0px rgba(0, 0, 0, 0.15);
      }

      @include responsive(desktop-md) {
        width: 42.9rem;
      }
    }
  }
}

.collapse-btn {
  display: block;
  border: transparent;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: transform 0.5s;

  &--closed {
    transform: rotate(-180deg) translateY(-0.2rem);
  }
}

.cart-item {
  padding-top: 1.2rem;
  display: grid;
  grid-auto-columns: 0;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  grid-template:
    "picture . price price" 2.4rem
    "picture . name name" min-content
    "picture . properties properties" min-content
    "picture . storage storage" min-content
    ". . . ." 1.2rem
    "management management management management" 3.2rem
    / 8rem 1.6rem auto 7.6rem;
  transition: opacity 0.5s ease-out;

  @include responsive(tablet) {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  @include responsive(desktop-sm) {
    grid-template:
      "picture . name . management . price" min-content
      "picture . properties . management . price" min-content
      "picture . storage . management . ." min-content
      "picture . seller . management . ." min-content
      / 10.6rem 1.6rem 27.5rem auto 10rem 1.6rem 11rem;
    padding: 1.15rem 0 0 0;
    border-top: none;
  }

  &__pic {
    grid-area: picture;
    display: block;
    position: relative;

    @include responsive(desktop-sm) {
      padding-left: 3.4rem;
    }

    img {
      display: block;
      width: 8rem;
      height: 10.6rem;
      border-radius: 0.8rem;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.05) 0%,
          rgba(0, 0, 0, 0.05) 100%
        ),
        url(<path-to-image>), lightgray 50% / cover no-repeat;

      @include responsive(desktop-sm) {
        width: 7.2rem;
        height: 9.6rem;
      }
    }

    &-property {
      display: flex;
      position: absolute;
      bottom: 0.4rem;
      left: 0.4rem;
      justify-content: center;
      align-items: center;
      width: 2.2rem;
      height: 2.2rem;
      padding: 0rem 0.4rem 0.3rem 0.4rem;
      border-radius: 0.6rem;
      background: var(--system-white);
      z-index: 3;

      &--three-digit {
        width: auto;
        max-width: 7.2rem;
      }

      @include responsive(desktop-sm) {
        display: none;
      }
    }
  }

  &__select {
    position: relative;
    z-index: 3;

    &-label {
      position: absolute;
      width: 2.2rem;
      height: 2.2rem;
      top: 0.4rem;
      left: 0.4rem;

      @include responsive(desktop-sm) {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 3.75rem;
        left: -3.4rem;
      }
    }

    &-checkbox::before {
      opacity: 0;
    }

    &-input:checked ~ &-label &-checkbox::before {
      opacity: 1;
    }
  }

  &__management {
    grid-area: management;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;

    @include responsive(desktop-sm) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 0rem;
      padding: 0;
    }
  }

  &__quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.67rem 0.33rem 0.77rem;
    width: 8rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    background: var(--system-white);

    @include responsive(desktop-sm) {
      width: 10rem;
      height: 4.4rem;
      border-radius: 0.8rem;
      margin-bottom: 0.755rem;
      padding: 0 0.84rem 0.33rem 0.95rem;
    }

    button {
      background-color: transparent;
      border: transparent;
      cursor: pointer;
    }

    input {
      display: block;
      width: 3.2rem;
      margin-top: 0.05rem;
      text-align: center;
      border: none;
      outline: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      @include responsive(desktop-sm) {
        margin-top: -0.13rem;
        width: 4.4rem;
        height: 2.3rem;
      }
    }
  }

  &__plus-btn,
  &__minus-btn {
    height: 3.2rem;

    @include responsive(desktop-sm) {
      height: 2.4rem;
      text-align: center;
    }
  }

  //если cart-item__quantity-number имеет минимальное значение 1 (единица) или максимальное (остаток 0)
  .minimal-number &__minus-btn,
  .maximum-number &__plus-btn {
    opacity: 0.2;
    cursor: default;
  }

  &__buttons {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
    width: 8.8rem;

    @include responsive(desktop-sm) {
      place-self: end;
      align-self: flex-end;
      width: 5.6rem;
      gap: 1.6rem;
      margin-top: 0.88rem;
    }

    button {
      border: transparent;
      cursor: pointer;
      background: none;

      @include responsive(desktop-sm) {
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }

      svg {
        display: block;
        width: 2rem;
        height: 2rem;
        pointer-events: none;
      }
    }
  }

  &:hover &__buttons button {
    @include responsive(desktop-sm) {
      opacity: 1;
    }
  }

  &__buttons-favourite.selected {
    opacity: 1;

    & svg path {
      fill: var(--system-magenta);
    }
  }

  &__buttons-favourite:hover svg path {
    @include responsive(desktop-sm) {
      fill: var(--system-magenta);
    }
  }

  &__buttons-delete:hover svg path {
    @include responsive(desktop-sm) {
      fill: var(--system-red);
    }
  }

  &__remains {
    @include responsive(desktop-sm) {
      align-self: flex-start;
    }
  }

  &__price {
    grid-area: price;
    display: flex;
    align-items: baseline;
    height: 2.4rem;
    position: relative;
    top: 0.03rem;
    left: 0.07rem;

    @include responsive(desktop-sm) {
      flex-direction: column;
      align-items: flex-end;
      gap: 0.6rem;
    }

    &-discount-wrap {
      display: flex;
      align-items: baseline;

      @include responsive(desktop-sm) {
        margin: -0.12rem 0.12rem 0 0;
      }
    }

    &-full-wrap {
      display: block;
      margin-left: 0.5rem;
      position: relative;
      cursor: pointer;

      @include responsive(desktop-sm) {
        margin: -0.25rem 0.15rem 0 0;
      }

      &::after {
        content: "";
        display: block;
        position: relative;
        bottom: 0.65rem;
        background-repeat: repeat-x;
        height: 0.2rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='2' viewBox='0 0 57 2' fill='none'%3E%3Cpath d='M1 1H56' stroke='%23A0A0A4' stroke-linecap='square'/%3E%3C/svg%3E");
      }

      &::before {
        content: "";
        display: block;
        position: relative;
        bottom: -1.9rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='2' viewBox='0 0 57 2' fill='none'%3E%3Cpath d='M1 1H56' stroke='black' stroke-opacity='0.2' stroke-linecap='square' stroke-dasharray='4 2'/%3E%3C/svg%3E");
        background-repeat: repeat-x;
        height: 0.2rem;
      }
    }

    &-tooltip {
      top: 2.53rem;
      right: -1rem;

      @include responsive(tablet) {
        right: 50%;
        transform: translateX(50%);
      }

      @include responsive(desktop-sm) {
        right: -1rem;
        transform: translateX(0%);
      }
    }

    &-itemDisc {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;

      &-info,
      &-amount {
        display: flex;
      }
    }

    &-userDisc {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;

      &-info,
      &-amount {
        display: flex;
      }
    }

    &-itemDisc,
    &-userDisc {
      text-wrap: nowrap;
    }

    &-itemDisc.hidden,
    &-userDisc.hidden {
      display: none;
    }
  }

  &__name {
    grid-area: name;
    margin-top: 0.2rem;
    --max-name-lines: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-name-lines);
    max-height: calc(var(--max-name-lines) * var(--body-text2-lh));
    overflow: hidden;

    @include responsive(desktop-sm) {
      --max-name-lines: 10;
      margin-top: 0;
      width: 25rem;
    }
  }

  &__properties {
    grid-area: properties;
    display: block;
    margin-top: -0.45rem;

    @include responsive(desktop-sm) {
      display: flex;
      align-items: center;
      gap: 1.71rem;
      margin-top: 0.23rem;
    }

    &-size {
      display: none;

      @include responsive(desktop-sm) {
        display: block;
      }
    }
  }

  &__storage {
    grid-area: storage;
    margin-top: -0.5rem;

    @include responsive(desktop-sm) {
      margin-top: 0.59rem;
    }
  }

  &__seller {
    grid-area: seller;
    display: none;

    @include responsive(desktop-sm) {
      display: flex;
      margin-top: 0.2rem;
      height: 1.6rem;
      align-items: center;
      gap: 0.6rem;
      margin-top: 0.09rem;
    }

    &-btn-wrap {
      position: relative;
    }

    &-tooltip-btn {
      background-color: transparent;
      border: transparent;
      cursor: pointer;

      svg {
        display: block;
        width: 2rem;
        height: 2rem;
        pointer-events: none;
      }
    }

    &-tooltip {
      max-width: 28rem;
      width: max-content;
      min-height: 10.4rem;
      top: 2.53rem;
      left: 50%;
      transform: translateX(-50%);

      &.long-address {
        max-width: 24rem;
      }
    }
  }
}

//если cart-item__name занимает 2 и более строки
.multiline-name .cart-item__properties,
.multiline-name .cart-item__storage {
  margin-top: 0.8rem;
}

.multiline-name .cart-item__seller {
  margin-top: 0.4rem;
}

.multiline-name .cart-item__name {
  margin-top: 0.13rem;

  @include responsive(desktop-sm) {
    margin-top: 0.03rem;
  }
}

//если cart-item__properties - пустая строка
.empty-properties .cart-item__storage {
  margin-top: -2.19rem;

  @include responsive(desktop-sm) {
    margin-top: -0.01rem;
  }
}

//если .cart-item__remains - пустая строка
.empty-remains .cart-item__buttons {
  @include responsive(desktop-sm) {
    margin-top: 0.09rem;
  }
}

//если cart-item__pic-property отсутствует
.empty-pic-property .cart-item__pic-property {
  display: none;
}

.cart-item--missing:first-child {
  @include responsive(desktop-sm) {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
}

//При сворачивании блока по collabse-btn
.hide .cart-item--missing:first-child {
  border: transparent;
}

.cart-item--missing .cart-item__name {
  margin-top: 0.01rem;

  @include responsive(desktop-sm) {
    width: 29rem;
  }
}

.cart-item--missing .cart-item__pic {
  padding: 0;
}

.cart-item--missing .cart-item__properties {
  margin-top: 0.8rem;
}

.cart-item--missing .cart-item__management {
  justify-content: flex-end;

  @include responsive(desktop-sm) {
    justify-content: flex-start;
  }
}

.cart-item--missing .cart-item__buttons {
  @include responsive(desktop-sm) {
    margin-top: 0;
  }
}

.cart-item--missing .cart-item__pic,
.cart-item--missing .cart-item__name,
.cart-item--missing .cart-item__properties {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  color: var(--system-gray);
}

.cart-item--missing .cart-item__select,
.cart-item--missing .cart-item__quantity,
.cart-item--missing .cart-item__remains {
  display: none;
}

.cart-item--missing.cart-item {
  grid-template:
    "picture . name" min-content
    "picture . properties" min-content
    "picture . . " min-content
    ". . . " 1.2rem
    "management management management" 2.4rem
    / 8rem 1.6rem auto;

  @include responsive(desktop-sm) {
    grid-template:
      "picture . name management ." min-content
      "picture . properties . ." min-content
      "picture . . . ." min-content
      / 7.2rem 1.6rem auto auto 12.6rem;
  }
}

.cart-item--missing.cart-item.multiline-name {
  grid-template:
    "picture . name" min-content
    "picture . properties" min-content
    "picture . . " min-content
    ". . . " 1.19rem
    "management management management" 2.4rem
    / 8rem 1.6rem auto;

  @include responsive(desktop-sm) {
    grid-template:
      "picture . name management ." min-content
      "picture . properties . ." min-content
      "picture . . . ." min-content
      / 7.2rem 1.6rem auto auto 12.6rem;
  }
}

.brand-button {
  border-radius: 0.8rem;
  border: transparent;
  background: var(--system-magenta);
}

.refuse-descr {
  position: relative;
  border-radius: 0.8rem;
  --after-opacity: 0;

  &::before {
    content: "";
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 11.333C1 16.8559 5.47715 21.333 11 21.333C16.5228 21.333 21 16.8559 21 11.333C21 5.81016 16.5228 1.33301 11 1.33301C5.47715 1.33301 1 5.81016 1 11.333ZM19.1818 11.333C19.1818 15.8517 15.5187 19.5148 11 19.5148C6.48128 19.5148 2.81815 15.8517 2.81815 11.333C2.81815 6.81429 6.48128 3.15116 11 3.15116C15.5187 3.15116 19.1818 6.81429 19.1818 11.333Z" fill="url(%23paint0_linear_10_287)"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.98273 9.98805C7.40206 9.62863 8.03336 9.67719 8.39278 10.0965L10.6286 12.705L14.6826 7.91387C15.0394 7.49226 15.6704 7.43968 16.092 7.79642C16.5136 8.15317 16.5662 8.78414 16.2094 9.20575L11.7761 14.4451C11.1795 15.1502 10.0933 15.1537 9.49219 14.4523L6.87427 11.3981C6.51485 10.9788 6.56341 10.3475 6.98273 9.98805Z" fill="url(%23paint1_linear_10_287)"/><defs><linearGradient id="paint0_linear_10_287" x1="4" y1="2.33319" x2="11" y2="21.333" gradientUnits="userSpaceOnUse"><stop stop-color="%230CD38B"/><stop offset="1" stop-color="%230CB477"/></linearGradient><linearGradient id="paint1_linear_10_287" x1="9" y1="7.83325" x2="10.5089" y2="16.1927" gradientUnits="userSpaceOnUse"><stop stop-color="%230CD38B"/><stop offset="1" stop-color="%230CB477"/></linearGradient></defs></svg>');
  }

  //тултип для малых разрешений
  &::after {
    content: "Если товары вам не подойдут, мы вернем их обратно на склад — это бесплатно";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1.6rem 1.4rem 1.6rem;
    width: 28.8rem;
    height: 5.6rem;
    position: absolute;
    bottom: -5.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-black);
    border-radius: 0.8rem;
    background: var(--system-white);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
      0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    opacity: var(--after-opacity);
    transition: opacity 0.5s ease;
    z-index: 4;
    pointer-events: none;
    cursor: auto;

    @include responsive(tablet) {
      display: none;
    }
  }

  &--smoky-dark-bg {
    background: var(--system-smoky-dark);
  }

  &--smoky-bg {
    background: var(--background-smoky);
  }

  span {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      left: -0.12rem;
      height: 1px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="2" viewBox="0 0 64 2" fill="none"><path d="M1 0.970703H63" stroke="%230CB477" stroke-opacity="0.2" stroke-linecap="square" stroke-dasharray="4 2"/></svg>');
      bottom: -0.3rem;
      background-repeat: repeat-x;
      height: 0.2rem;
      width: 6.4rem;
    }

    //тултип для больших разрешений
    &::after {
      @include responsive(tablet) {
        content: "Если товары вам не подойдут, мы вернем их обратно на склад — это бесплатно";
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.9rem 1.6rem 1.4rem 1.6rem;
        width: 28.8rem;
        height: var(--after-minHeight);
        position: absolute;
        top: 2.25rem;
        left: 47%;
        transform: translateX(-50%);
        color: var(--text-black);
        border-radius: 0.8rem;
        background: var(--system-white);
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
          0px 2px 10px 0px rgba(0, 0, 0, 0.15);
        opacity: var(--after-opacity);
        transition: opacity 0.5s ease;
        z-index: 4;
        pointer-events: none;
        cursor: auto;
      }
    }
  }

  &.active {
    --after-opacity: 1;

    &::after,
    & span::after {
      pointer-events: all;
    }
  }
}

.delivery {
  padding: 1.69rem 0 1.55rem 0;
  border-radius: 1.6rem;
  background: var(--system-white);

  @include responsive(tablet) {
    padding: 1.6rem 0 1.94rem 0;
  }

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__delivery-point-info {
    @include responsive(tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &__delivery-point {
    margin-top: 0.8rem;

    @include responsive(tablet) {
      margin-top: 1.6rem;
    }
  }

  &__schedule-wrap {
    margin-top: 0.33rem;
    position: relative;

    @include responsive(desktop-sm) {
      margin-top: 0.35rem;
    }

    &::before {
      content: "";
      display: inline-block;
      margin-right: 0.03rem;
      height: 1.2rem;
      width: 1.2rem;
      position: relative;
      top: 0.05rem;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.69769 1.48247C6.43817 0.861648 5.56198 0.861639 5.30244 1.48244L6.69769 1.48247ZM5.30244 1.48244L4.14719 4.24303L1.19202 4.49939C0.519264 4.55792 0.262282 5.39291 0.759713 5.82789L3.00514 7.7924L2.33207 10.7156C2.18436 11.3571 2.87792 11.89 3.46133 11.5356L6.00032 9.98936L8.53797 11.5348C9.12269 11.892 9.81568 11.3559 9.66861 10.7159L8.99549 7.79241L11.2402 5.82862C11.7385 5.39286 11.4793 4.55844 10.8083 4.49992L7.85294 4.24355L6.69769 1.48247" fill="%23FF970D"/></svg>');
    }

    span {
      margin-right: 0.85rem;
    }
  }

  &__cost-wrap {
    margin-top: 1.63rem;
    padding-bottom: 0.42rem;

    @include responsive(tablet) {
      margin-top: 1.67rem;
      padding-bottom: 0;
    }
  }

  &__date {
    margin-top: 1.2rem;

    @include responsive(tablet) {
      margin-top: 1.6rem;
    }
  }

  &__items-wrap {
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    @include responsive(tablet) {
      padding: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    img {
      display: block;
      width: 4.09255rem;
      height: 5.6rem;
      border-radius: 0.8rem;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.05) 0%,
          rgba(0, 0, 0, 0.05) 100%
        ),
        url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
  }

  &__item-quantity {
    top: -0.9rem;
    right: -0.2rem;

    &.badge-count--1digit {
      display: flex;
    }

    &.badge-count--2digit {
      display: flex;
      top: -0.54rem;
      right: -0.4rem;
      width: 2rem;
    }

    &.badge-count--3digit {
      display: flex;
      width: 2.63582rem;
      top: -0.8rem;
      right: -0.35rem;
    }
  }

  &__refuse-descr {
    margin: 0.5rem 0 0 0;
    padding: 0.75rem 0.8rem 0.8rem 3.8rem;

    @include responsive(desktop-sm) {
      margin: 1.88rem 0 0 0;
      padding: 0.75rem 0.8rem 0.8rem 2.98rem;
    }

    &::before {
      left: 0.8rem;
      top: 47%;
      transform: translateY(-50%);

      @include responsive(desktop-sm) {
        left: 0;
        top: 50%;
      }
    }
  }

  &__delivery-point,
  &__cost-wrap,
  &__date {
    @include responsive(tablet) {
      display: flex;
      gap: 3.2rem;
      > p {
        width: 15.3rem;
      }
    }
  }
}

//выбор доставки курьером скрывает информацию о пункте выдачи
.courier-selected .delivery__schedule-wrap {
  display: none;
}

.change-delivery {
  padding: 1.6rem 1.4rem;

  @include responsive(tablet) {
    padding: 1.6rem 2.2rem 2.4rem 2.2rem;
    width: 50rem;
    top: 22.7vh;
    left: 50%;
    transform: translateX(-39.9%);
  }

  &__tabs {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin: 1.55rem 0.6rem 0 0.6rem;

    @include responsive(tablet) {
      margin: 1.3rem 0 0 0;
    }

    button {
      background-color: transparent;
      flex: 1 0 50%;
      height: 4rem;
      padding-bottom: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 2.4rem;
      border: 2px solid rgba(203, 17, 171, 0.15);
      cursor: pointer;

      @include responsive(tablet) {
        flex: 0 0 auto;
        width: 22.4rem;
        height: 3.6rem;
      }
    }
  }

  &.pickpoint-tab &__tab-pickpoint,
  &.courier-tab &__tab-courier {
    border: 2px solid var(--system-magenta);
  }

  &__descr {
    margin: 2.5rem 0 0 0.03rem;

    @include responsive(tablet) {
      margin: 2.6rem 0 0 0.07rem;
    }
  }

  &__pickpoint-wrap,
  &__courier-wrap {
    display: none;
  }

  &.pickpoint-tab &__pickpoint-wrap,
  &.courier-tab &__courier-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__option-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.8rem;

    button {
      margin-top: 0.4rem;
      width: 2rem;
      height: 2rem;
      border: transparent;
      background-color: transparent;

      @include responsive(tablet) {
        margin-top: 0.3rem;
      }

      &:hover svg path {
        @include responsive(desktop-sm) {
          fill: var(--system-red);
        }
      }

      svg {
        display: block;
        pointer-events: none;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
  }

  fieldset {
    border: none;
    flex-grow: 1;
  }

  &__options-list {
    margin: 1.25rem 0 2.4rem 0;
  }

  &__option {
    list-style: none;
    padding-left: 2.83rem;
    transition: opacity 0.3s ease-out;

    @include responsive(tablet) {
      padding-left: 2.8rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.05rem;

      @include responsive(tablet) {
        margin-bottom: 2rem;
      }
    }

    &-label {
      display: flex;
      margin-left: -0.05rem;

      @include responsive(tablet) {
        margin-left: 0;
      }
    }

    &-radio {
      margin-top: 0.47rem;

      &::before {
        opacity: 0;
      }
    }

    &-input:checked ~ &-label &-radio::before {
      opacity: 1;
    }
  }

  &__option-rating {
    position: relative;
    margin-top: 0.37rem;
    display: flex;
    align-items: center;

    &-num {
      display: flex;
      gap: 0.4rem;
      align-items: center;

      &::before {
        content: "";
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        position: relative;
        top: 0.05rem;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.69769 1.14922C6.43817 0.528396 5.56198 0.528387 5.30244 1.14919L6.69769 1.14922ZM5.30244 1.14919L4.14719 3.90977L1.19202 4.16613C0.519264 4.22467 0.262282 5.05966 0.759713 5.49464L3.00514 7.45915L2.33207 10.3824C2.18436 11.0238 2.87792 11.5567 3.46133 11.2023L6.00032 9.65611L8.53797 11.2015C9.12269 11.5588 9.81568 11.0227 9.66861 10.3826L8.99549 7.45915L11.2402 5.49537C11.7385 5.05961 11.4793 4.22519 10.8083 4.16667L7.85294 3.91029L6.69769 1.14922" fill="%23FF970D"/></svg>');
      }
    }

    &-label {
      margin-left: 0.8rem;
    }
  }
}

.change-btn {
  border: transparent;
  background-color: transparent;
  cursor: pointer;

  svg {
    display: block;
    pointer-events: none;
    width: 2rem;
    height: 2rem;
  }
}

.payment {
  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
  border-radius: 1.6rem;
  background: var(--system-white);
  position: relative;

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include responsive(desktop-sm) {
      align-items: flex-end;
    }
  }

  &__change-btn {
    @include responsive(desktop-sm) {
      position: relative;
      top: -0.07rem;
      margin-right: -0.1rem;
    }
  }

  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-syst {
      width: 3.2rem;
      height: 2.4rem;
      border-radius: 0.4rem;
      background-color: var(--background-smoky);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        display: block;
      }
    }

    &-number {
      margin-left: 0.8rem;

      @include responsive(desktop-sm) {
        margin-left: 0.85rem;
      }
    }

    &-date {
      margin-left: 1.3rem;

      @include responsive(desktop-sm) {
        margin-left: 1.2rem;
      }
    }
  }

  &__descr {
    margin-top: 0.8rem;

    &.hidden {
      display: none;
    }
  }
}

.change-payment {
  padding: 1.6rem;

  @include responsive(tablet) {
    padding: 1.6rem 2.2rem 2.4rem 2.2rem;
    width: 40rem;
    top: 23.1vh;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    margin-left: 0;

    @include responsive(tablet) {
      margin-left: 0.18rem;
    }
  }

  &__close-btn {
    margin: 0 -0.5rem 0 0;

    @include responsive(tablet) {
      margin: 0.4rem -0.2rem 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
  }

  fieldset {
    border: none;
    flex: 1 0 auto;
  }

  &__options-list {
    margin-top: 1.5rem;

    @include responsive(tablet) {
      margin-top: 1.25rem;
    }
  }

  &__option {
    list-style: none;
    display: flex;
    padding-left: 2rem;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }

    &-label {
      display: flex;
      align-items: center;
    }

    &-radio {
      top: 0.3rem;

      @include responsive(tablet) {
        top: 0.35rem;
      }

      &::before {
        opacity: 0;
      }
    }

    &-input:checked ~ &-label &-radio::before {
      opacity: 1;
    }

    &-pic {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.2rem;
      height: 2.4rem;
      margin: 0 0.4rem 0 0.8rem;
      border-radius: 0.4rem;
      background: var(--background-smoky, #f6f6fa);

      svg {
        display: block;
      }
    }
  }

  &__select-btn {
    width: 100%;

    @include responsive(tablet) {
      width: var(--modal-select-btn);
    }
  }
}

.overlay {
  @include responsive(tablet) {
    background: rgba(5, 0, 10, 0.3);
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    &--transparent {
      opacity: 0;
    }
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.receiver {
  padding: 1.6rem 0 0.8rem 0;
  border-radius: 1.6rem;
  background-color: var(--system-white);

  @include responsive(tablet) {
    padding: 1.6rem 0 1.3rem 0;
  }

  @include responsive(desktop-md) {
    padding: 1.6rem 14.3rem 1rem 0;
  }

  &__pers-info {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
    position: relative;

    @include responsive(tablet) {
      margin-top: 1.8rem;
    }
  }

  &__other-info {
    display: flex;
    flex-direction: column;

    @include responsive(tablet) {
      margin-top: -0.9rem;
    }
  }

  &__pers-info,
  &__other-info {
    @include responsive(tablet) {
      flex-direction: row;
      gap: 2.4rem;
      align-items: flex-start;
    }
  }

  &__tax-number-descr {
    display: block;
    position: absolute;
    bottom: -0.2rem;
    left: -0.1rem;
    height: 1rem;

    @include responsive(desktop-sm) {
      bottom: -0.36rem;
      left: 0.02rem;
    }

    &.hidden {
      display: none;
    }
  }

  &__form-field {
    width: 100%;
    margin-bottom: 1.92rem;
    padding: 1.18rem 0rem 1.5rem 0rem;
    position: relative;
    border: none;

    @include responsive(tablet) {
      padding: 1.18rem 0rem 1.6rem 0rem;
    }

    input {
      border: none;
      outline: none;
      width: 100%;
      height: 2.4rem;
      position: relative;
      top: 0.25rem;
      left: -0.1rem;

      @include responsive(tablet) {
        top: 0.4rem;
        left: 0;
      }
    }

    input::placeholder {
      opacity: 0;
    }

    label {
      span {
        position: absolute;
        top: -0.25rem;
        left: -0.1rem;
        transform: translateY(1.67rem);
        transition: all 0.4s;
        z-index: 2;

        @include responsive(tablet) {
          left: 0;
          transform: translateY(1.85rem);
        }
      }

      &::after {
        content: "";
        display: block;
        position: relative;
        bottom: -0.4rem;
        left: 0;
        height: 0.2rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);

        @include responsive(tablet) {
          bottom: -0.6rem;
        }
      }
    }

    input.is-invalid {
      color: var(--system-red);
    }

    input.is-invalid + label::after {
      background-color: var(--system-red);
    }

    [data-js-enabled="false"] input:invalid {
      color: var(--system-red);
    }

    [data-js-enabled="false"] input:invalid + label::after {
      background-color: var(--system-red);
    }
  }

  &__form-error {
    margin-top: 0.95rem;
    margin: 0.95rem 0 -0.75rem 0;
  }

  input:focus + label > span,
  input:not(:placeholder-shown) + label > span {
    transform: translateY(0);
    font-size: 1.2rem;
    line-height: 1.4rem; /* 116.667% */

    @include responsive(tablet) {
      font-size: 1.3rem;
      line-height: 1.6rem; /* 123.077% */
    }
  }
}

.result {
  &__title-wrap,
  &__goods,
  &__discount,
  &__delivery,
  &__delivery-point {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & span {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }

    @include responsive(tablet) {
      margin: 0 auto;
      width: 35rem;
    }

    @include responsive(desktop-sm) {
      width: auto;
    }
  }

  &__total-price.hidden {
    display: none;
  }

  &__goods,
  &__discount {
    margin-right: 0.05rem;

    @include responsive(tablet) {
      margin: 0 auto;
    }

    @include responsive(desktop-sm) {
      margin-right: 0.05rem;
    }
  }

  .container {
    @include responsive(desktop-sm) {
      padding: 0;
    }
  }

  &__goods {
    margin-top: 0.6rem;

    @include responsive(desktop-sm) {
      margin-top: 0.7rem;
    }
  }

  &__delivery-point {
    margin-top: 2.4rem;
  }

  &__date {
    display: inline-block;
    position: relative;
    top: -0.09rem;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      position: relative;
      bottom: -1.8rem;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="2" viewBox="0 0 49 2" fill="none"><path d="M1 1H48" stroke="%23CB11AB" stroke-opacity="0.2" stroke-linecap="square" stroke-dasharray="4 2"/></svg>');
      background-repeat: repeat-x;
      height: 0.2rem;
    }

    &.hidden {
      display: none;
    }
  }

  &__delivery-address {
    margin-top: 0.58rem;
  }

  &__refuse-descr {
    margin-top: 1.8rem;
    padding: 0.9rem 0.8rem 1.06rem 3.8rem;

    @include responsive(desktop-sm) {
      margin-top: 0.9rem;
      padding: 0.9rem 0.8rem 1.1rem 3.8rem;
    }

    &::before {
      left: 0.8rem;
      top: 46%;
      transform: translateY(-50%);
    }
  }

  &__payment {
    margin-top: 0.7rem;

    @include responsive(desktop-sm) {
      padding-bottom: 1.2rem;
      margin-top: 0.6rem;
    }
  }

  &__payment-title {
    @include responsive(desktop-sm) {
      position: relative;
      top: 0.26rem;
    }
  }

  &__payment-card-date {
    @include responsive(desktop-sm) {
      display: none;
    }
  }

  &__payment-card {
    margin-top: 0.8rem;

    @include responsive(desktop-sm) {
      margin-top: 0.6rem;
    }
  }

  &__order-btn {
    margin-top: 2.42rem;
    padding: 0.75rem 3.2rem 1.25rem 3.2rem;
    width: 100%;

    @include responsive(desktop-sm) {
      margin-top: 2.45rem;
    }
  }

  &__terms {
    margin-top: 1.19rem;
    padding: 0 0 0 2.1rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -0.03rem;
      top: 0;
      width: 1.3rem;
      height: 2.4rem;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="25" viewBox="0 0 13 25" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.7657 5.0135L4.59586 13.8146L0.257324 9.00238L1.74276 7.66317L4.6174 10.8517L11.2999 3.65283L12.7657 5.0135Z" fill="black"/></svg>');
    }
  }

  &__payment-descr {
    @include responsive(desktop-sm) {
      display: none;
    }
  }

  &__pay-option {
    margin-top: 1.66rem;

    @include responsive(desktop-sm) {
      margin-top: 0rem;
    }
  }
}

.cart__result--desktop .refuse-descr::after {
  @include responsive(desktop-sm) {
    display: flex;
    left: 50.2%;
    top: 4.75rem;
  }

  @include responsive(desktop-md) {
    display: none;
  }
}

.cart__result--desktop .refuse-descr span::after {
  display: none;

  @include responsive(desktop-md) {
    display: flex;
  }
}

.pay-option {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.8rem 1.2rem 0.8rem;
  border-radius: 0.8rem;
  background: var(--system-smoky-dark);

  @include responsive(desktop-sm) {
    background: var(--background-smoky);
  }

  &__instant-pay {
    display: flex;

    &-label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-checkbox {
      display: block;
      margin: -0.03rem 0.8rem 0 0;
      flex: 0 0 auto;

      @include responsive(desktop-sm) {
        margin: 0 0.8rem 0 0;
      }

      &::before {
        opacity: 0;
      }
    }
    &-input:checked ~ &-label &-checkbox::before {
      opacity: 1;
    }
  }

  &__descr {
    margin-top: 0.8rem;

    &.hidden {
      display: none;
    }
  }
}

.delivery,
.receiver,
.cart__payment {
  @include responsive(desktop-sm) {
    width: 63.8rem;
  }

  @include responsive(desktop-md) {
    width: 89.1rem;
  }
}
