.headline-main {
  color: var(--system-white);
  font-family: "Segoe UI", sans-serif;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  font-variant: all-small-caps;
  letter-spacing: 0.052rem;

  @include responsive(desktop-sm) {
    font-size: 2.8rem;
    line-height: 2.4rem; /* 85.714% */
    letter-spacing: 0.056rem;
  }
}

.headline2 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem; /* 140% */
  letter-spacing: -0.02rem;

  @include responsive(desktop-sm) {
    font-size: 2.4rem;
    line-height: 3.2rem; /* 133.333% */
    letter-spacing: -0.024rem;
  }

  &--sbold-for-mobile {
    font-size: 2rem;
    font-weight: 600;
  }

  &--lg-for-desktop {
    @include responsive(desktop-sm) {
      font-size: 2.8rem;
      line-height: 3.6rem; /* 128.571% */
      letter-spacing: -0.028rem;
    }
  }

  &--sm-for-desktop {
    @include responsive(desktop-sm) {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: 700;
      letter-spacing: -0.02rem;
    }
  }
}

.headline3 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem; /* 150% */

  &--magenta {
    color: var(--system-magenta);
  }

  &--white {
    color: var(--system-white);
  }

  //выключается, если не умещается по длине
  &--lg {
    @include responsive(desktop-sm) {
      font-size: 2rem;
    }
  }
}

.headline4 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem; /* 150% */
}

.body-text {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 150% */

  &--gray {
    color: var(--system-gray);
  }

  &--sm-for-desktop {
    @include responsive(desktop-sm) {
      font-size: 1.3rem;
      line-height: 1.6rem; /* 123.077% */
    }
  }
}

.body-text2 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  --body-text2-lh: 2rem; /* 142.857% */
  line-height: var(--body-text2-lh);

  @include responsive(desktop-sm) {
    font-size: 1.6rem;
    font-style: normal;
    --body-text2-lh: 2.4rem; /* 150% */
    line-height: 2.4rem;
  }
}

.body-text3 {
  color: var(--system-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 120% */
  letter-spacing: -0.02rem;
}

.caption {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 123.077% */

  &--gray {
    color: var(--system-gray);
  }

  &--coral {
    color: var(--dark-system-coral);
  }

  &--green {
    color: var(--system-green);
  }

  &--white {
    color: var(--system-white);
  }

  &--magenta {
    color: var(--system-magenta);
  }
}

.caption2 {
  color: var(--system-white, #fff);
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem; /* 180% */
}

.caption3 {
  color: var(--system-white);
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem; /* 180% */
}

.caption4 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem; /* 116.667% */
}

.caption5 {
  color: var(--system-white);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 133.333% */
}

.caption6 {
  color: var(--text-black);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem; /* 123.077% */
}
