:root {
  --system-white: #fff;
  --system-violet: #6725a8;
  --text-black: #000;
  --background-smoky: #f6f6fa;
  --system-smoky-dark: #f0ecf4;
  --system-gray: #a0a0a4;
  --dark-system-coral: #ff3b30;
  --system-green: #0cb477;
  --system-magenta: #cb11ab;
  --system-red: #f55123;
}
