:root {
  --system-white: #fff;
  --system-violet: #6725a8;
  --text-black: #000;
  --background-smoky: #f6f6fa;
  --system-smoky-dark: #f0ecf4;
  --system-gray: #a0a0a4;
  --dark-system-coral: #ff3b30;
  --system-green: #0cb477;
  --system-magenta: #cb11ab;
  --system-red: #f55123;
}

/* Breakpoints ($breakpoint):
- tablet - 630px - 39.375em
- desktop-sm - 1024px - 64em
- desktop-md - 1440px - 87.5em
*/

@mixin responsive($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 39.375em) {
      @content;
    }
  }

  @if $breakpoint == desktop-sm {
    @media (min-width: 64em) {
      @content;
    }
  }

  @if $breakpoint == desktop-md {
    @media (min-width: 87.5em) {
      @content;
    }
  }
}
